[2020-04-30 13:15] dgageot opened #1 "Sample build in contributing guide doesn't work"
The contributing guide says these commands can be used to compile a buildpack:

[code]

I get this error:

[code]

[2020-04-30 13:19] dgageot opened #2 "`./tools/pull-images.sh gcp base` fails"
This command in the contributing guide fails on macos:

[code]

[2020-04-30 13:32] dgageot opened #4 "Setup a Continuous Integration"

[2020-04-30 13:55] dgageot opened #6 "Wrong command to run acceptance tests"
The contributing guide says one should run:

[code]

This doesn't run the acceptance tests

[2020-05-01 00:54] #1 closed, assigned to dgageot

[2020-05-01 16:33] #6 closed, assigned to lukasberger

[2020-05-05 20:21] #2 closed, assigned to nobody

[2020-05-07 16:18] jamesward opened #10 "Go Buildpack Static Content"
Go doesn't have a standard way to specify static content like web templates.  The Go buildpack drops the sources so static content doesn't make it into the final image.  Reproduce with:
https://github.com/GoogleCloudPlatform/cloud-run-hello

[2020-05-07 19:19] briandealwis opened #11 "Cannot build typescript project"
Our `npm` buildpack runs `npm ci` to install the runtime dependencies only.  But TypeScript projects seem to often install the typescript toolchain via `devDependencies` and then run `tsc` via a `postinstall` script, and so fail to install.  Perhaps we should `npm install` followed by an `npm prune`.

For an example, try building the [VSCode typescript-in-docker example](https://github.com/Microso

[2020-05-07 19:29] lukasberger commented on #11
You can work around this by specifying `NODE_ENV=development`, which is what npm install does by default and the project seems to assume. The `prepare` script should install devDependencies and then remove them, but there seems to be a bug where it does not if `NODE_ENV=production` which should be fixed in npm 7.

[2020-05-08 00:44] #10 closed

[2020-05-08 14:50] jamesward opened #14 "Strange Cache Error"
[code]

[2020-05-08 15:30] ernsheong opened #15 "Cannot publish using command in README"
README says:
[code]

But upon replacing the parameters, I get:
[code]

[2020-05-08 15:37] ernsheong commented on #15
Workaround:

[code]

[2020-05-08 15:43] jamesward commented on #15
Thanks for reporting! The right command is:
[code]
Since the param is really the container image path.  I've sent a PR to fix this.

[2020-05-08 15:50] ernsheong commented on #15
Ah, that makes sense, thanks

[2020-05-08 16:21] ImJasonH opened #17 "Document usage in Cloud Build and Tekton"
Filing an issue here to get feedback before I write up a PR to add the docs.

- Would this be an appropriate place to document how to use these buildpacks (and buildpacks in general) in Cloud Build and Tekton?
- If so, would you prefer that in README.md, or in some other docs directory, etc.?

[2020-05-08 16:24] jamesward commented on #17
Ditto Cloud Build.

[2020-05-08 16:25] lukasberger commented on #14
This looks like a lower-level error, either due to pack or Docker. Have you been able to reproduce?

[2020-05-08 16:30] lukasberger commented on #17
README.md sounds good for now. We have a link to tekton [1] under the Usage section, but are missing a Cloud Build link. It'd be nice to have sample commands to run as well, although I do worry about them getting out of sync.

[1] https://github.com/tektoncd/catalog/tree/master/buildpacks

[2020-05-08 16:47] jamesward commented on #17
Oh wow. I missed the part where @ImJasonH said "in Cloud Build" :)  Was thinking about Matt's tweet about just Tekton while reading this.  Anywhoo.  Here is a sample Cloud Build step:
[code]

[2020-05-08 16:49] ahmetb opened #19 "Failed to detect Python function"
Reporting some friction I encountered adopting this. I went to https://cloud.google.com/functions/docs/quickstart-python

copied this to `func.py`:

[code]

then created `requirements.txt` with just `Flask` in it.

Then set the default builder to google's and ran:

[code]

[code]

I am guessing documentation on how to structure functions is missing from the readme. File name might be the culprit?

[2020-05-08 16:53] ahmetb commented on #19
Similarly I cloned the Functions Framework Python example
https://github.com/GoogleCloudPlatform/functions-framework-python/tree/master/examples/cloud_run_http and also doesn't work and fails with the same error.

[2020-05-08 16:53] jamesward commented on #14
Yeah, it might be a pack bug. I tried again with `--clear-cache` and it still failed but on the `exporter` step:
[code]
I can't reproduce outside of my machine.  :(

Giving pack a different image name makes it work (i.e. changing the cache key).

[2020-05-08 16:59] ahmetb commented on #19
It would be somewhat cool to have `--verbose` on these steps (maybe by setting GOOGLE_DEBUG=1). This has been my biggest pain point about CNCF Buildpacks (and also why I always kept trying and ran away from it). There's very little visibility.

Anything you can do to answer users’ "but whyyyy? what is it doing under the covers to fail to detect?" can help users tremendously to self-serve.

[2020-05-08 18:34] ahmetb opened #20 "--publish doesn't show indication that it is pushing"
I ran `pack build --push` and thought the build is legit stuck here for 1 minute:

[code]

But then it printed

[code]

a message indicating build has started would be nice.

[2020-05-08 18:34] di commented on #19
The first issue here is that you need to pass the environment variable into `pack` instead -- it doesn't inherit the environment variables from where it's ran:

[code]

If you had done that, it would have built an image, but the image would have failed to run:

[code]

Which should indicate that you need to rename `func.py` to `main.py`. (You could also set `GOOGLE_FUNCTION_SOURCE=func.py`, but I'

[2020-05-08 18:36] ahmetb opened #21 "Images are shown as created 40 years ago"
I just did `pack build` and run `docker images | head` as usual to verify my image size.

To my surprise I could not see my image among the first images because it was built 40 years ago:

[code]

by design or a bug?

[2020-05-08 18:41] ahmetb opened #22 "Python-specific requirements are not documented in readme"
Similar to #19, I am now trying https://github.com/GoogleCloudPlatform/buildpack-samples/blob/master/sample-python.

It's clear to me that some buildpacks have `Procfile` and some don't. This one clearly requires a Procfile.

Similarly there's a `runtime.txt` with `python-3.7.6` that I didn't see in `sample-node`. Issues about this:

1. why the inconsistency between samples (is python's runtime.tx

[2020-05-08 18:52] ahmetb commented on #19
this was it! Thanks Dustin.

[2020-05-08 18:52] #19 closed

[2020-05-08 18:54] ahmetb opened #23 "Python functions: build did not realize main.py was missing"
`func.py`:

[code]

`requirements.txt`:

[code]

Upon building and running this function, I get:

[code]

It would be nice to:

1. catch during build step `main.py` doesn't exist when GOOGLE_FUNCTION_TARGET specified.
2. document this requirement (I should be able to develop a func without buildpacks ideally without bouncing much between repos).

[2020-05-08 19:04] jamesward opened #24 "Support PHP and Ruby in the general builder (parity for Cloud Run Button)"
We'd like to make this builder image the default builder image in Cloud Run Button but we need some additional buildpacks:
- Ruby
- PHP
- Scala / sbt

I'd be happy to take on building the Scala one since I'm probably the only one that'll use it. :)

[2020-05-08 19:05] ahmetb commented on #19
GOOGLE_FUNCTION_SOURCE is not documented fwiw.

[2020-05-08 19:07] ahmetb opened #25 "GOOGLE_FUNCTION_SOURCE not documented"
This was mentioned in https://github.com/GoogleCloudPlatform/buildpacks/issues/19#issuecomment-625956329

Apparently this env var exists but not documented. If the answer to this is "this is documented at functions-frameworks repo" I'll say let's try to give users enough info to at least have them write their own hello world from scratch in this repo.

If someone’s using buildpacks they might not

[2020-05-08 19:07] lukasberger commented on #14
It sounds like the cache was corrupted in some way. You could also clear it with `docker volume prune`.

[2020-05-08 19:08] ahmetb commented on #25
FWIW the link to FF we have https://cloud.google.com/functions/docs/functions-framework also doesn't talk about environment variables such as this.

[2020-05-08 19:13] lukasberger commented on #20
This is unfortunately outside of our control as buildpacks only have control over the detect and build phases. Please file an issue against pack at https://github.com/buildpacks/pack/issues.

[2020-05-08 19:13] #20 closed

[2020-05-08 19:13] jamesward opened #26 "Gradle Kotlin Build Support"
Gradle supports Kotlin build files which are defined in a `build.gradle.kts` file so detect for Gradle needs to also check for that.

[2020-05-08 19:15] lukasberger commented on #21
The image creation time is controlled by `pack build`. I believe it is reset intentionally to make builds reproducible. If you think it's a bug, please file an issue against pack at https://github.com/buildpacks/pack/issues.

[2020-05-08 19:16] #21 closed

[2020-05-08 19:18] ahmetb commented on #20
Done https://github.com/buildpacks/pack/issues/615
Thank you.

[2020-05-08 19:19] ahmetb commented on #24
This is is a bit of run-button scoped discussion but I recommend we go ahead and take a look at how many repos are actually using buildpacks. If it's a manageable small number (which I'd expect), let's flip the default to google already –and allow custom builders through config file or url.

[2020-05-08 19:20] ahmetb commented on #21
Yeah, I was suspecting of reproducibility. It looks like it's set to `1980-01-01T00:00:01Z` which isn't 1970, so assuming intentional.

[2020-05-08 19:23] jamesward commented on #24
I have some samples that'll break until we get the php & sbt support in.  Once we get https://github.com/GoogleCloudPlatform/cloud-run-button/issues/170 done, then I can `app.json` them to use the heroku buildpacks.

[2020-05-08 19:26] lukasberger commented on #22
`runtime.txt` is not required and in fact not supported. I believe the samples repo has it to support the Heroku builder. We support `.python-version` as well as `GOOGLE_RUNTIME_VERSION` as the mechanism for specifying runtime version for Python.

All buildpacks support `Procfile`, but it is not required for languages other than Python as we have mechanism to infer the start command. The environme

[2020-05-08 19:31] lukasberger commented on #17
There is also `gcloud alpha builds submit . --pack`.

https://cloud.google.com/sdk/gcloud/reference/alpha/builds/submit

[2020-05-08 19:40] jamesward commented on #15
PR for this is #16 but I didn't want to merge my own PR

[2020-05-08 19:43] ahmetb commented on #22
cc: @jamesward

if that's the case we should prob delete that file to avoid confusion for buildpack-samples audience.

[2020-05-08 19:45] ahmetb commented on #22
I think this is definitely worth documenting as well. We can assume everyone knows and have used buildpacks to curate the docs, but that will leave out a lot of the first-time users.

So I'm in general happy with the current state in Node, Go etc. However almost always any non-trivial user will have to use cmd line args to customize this and that, so it is important probably to say "there's a file

[2020-05-08 19:48] jamesward commented on #22
Most of these samples were originally created to show Cloud Run Button + Buildpacks using Heroku's buildpacks.  But now that we've got them all working with our buildpacks you are right that there needs to be some cleanup.  I've removed that `runtime.txt` and will see if there is any other stuff that needs cleanup.

[2020-05-08 20:22] di commented on #23
@ahmetb I'm a little confused here, do you have a typo? In this example it looks like you have a `main.py`, I wouldn't expect that exception to raise.

Did you mean when you have a source file _other_ than `main.py`, and `GOOGLE_FUNCTION_SOURCE` isn't specified?

[2020-05-08 20:22] ahmetb commented on #23
I meant to say func.py. I will edit.

[2020-05-08 20:49] di commented on #23
Got it! I think ideally all the function buildpacks should fail to build if `GOOGLE_FUNCTION_SOURCE` does not exist, regardless of whether the user has set it or if the default is being used.

[2020-05-08 21:51] #15 closed

[2020-05-08 21:54] lukasberger commented on #25
I think the reason it's not documented on that page is because it's not supported by all runtimes (and not part of the contract). We can still document it in the README though and possibly also link to the contract/functions docs.

[2020-05-08 22:59] lukasberger commented on #19
There is in fact a `--verbose` flag on pack which prints all the detection steps and why something opted in/out. Most of our buildpacks opt-out with a message.

[2020-05-09 14:58] brettcannon opened #28 "Typo in the README"
"runing" ➡️ "running"

[2020-05-09 15:19] lukasberger commented on #28
Thank you for the report, this is fixed by #18.

[2020-05-09 15:37] #28 closed

[2020-05-11 09:47] Mistic92 commented on #11
Have similar issue when using NestJS. I have info that image was build (btw huge image size compared to my Dockerfile) but when I'm trying to run it it's not starting.

[2020-05-11 16:36] lukasberger commented on #11
Is that with `NODE_ENV=development` or without? Is there an error message printed on startup?

[2020-05-11 19:34] #25 closed

[2020-05-11 23:07] lukasberger commented on #11
What base image do you use in your Dockerfile? The run image we use (`gcr.io/buildpacks/gcp/run`) includes few packages and is 111MB vs 941mb for the official `node:14` image.

A missing required package could be the reason the app is failing to start.

[2020-05-11 23:09] lukasberger commented on #14
I am going to close this since it seems unrelated to this project. Please reopen if you find otherwise.

[2020-05-11 23:09] #14 closed

[2020-05-12 07:01] Mistic92 commented on #11
I'm using alpine and slim versions of node 12. On node 13 I had issue with grpc.

[2020-05-14 15:32] dgageot opened #29 "Give a better error message when there's no go file in `GOOGLE_BUILDABLE`"
Go 1.14 give a clear error message. Something like:

[code]

We use that output to show this tip to the user:

[code]

With Go <1.14, we get a different error message that doesn't trigger the `GOOGLE_BUILDABLE` tip.

We should be able to show that tip for any version of Go.

[2020-05-14 15:37] dgageot opened #30 "Auto detect which package to build"
When there's no Go file in the default `.` package, we could search which folder contains the `main` package. If there's only one, we would build it without the user having to specify `GOOGLE_BUILDABLE`

[2020-05-15 09:13] xiujuan95 opened #32 "No buildpack groups passed detection for cf-acceptance-test java and dotnet-core sample"
I am using your buildpack `gcr.io/buildpacks/builder` to build [cf-acceptance-tests](https://github.com/cloudfoundry/cf-acceptance-tests/tree/master/assets) application, like [java](https://github.com/cloudfoundry/cf-acceptance-tests/tree/master/assets/java) and [dotnet-core](https://github.com/cloudfoundry/cf-acceptance-tests/tree/master/assets/dotnet-core). But they are both fail at `detect` ste

[2020-05-15 15:58] briandealwis commented on #32
Thanks for pointing this out @xiujuan95 — I wasn't aware of these tests.  We don't have perfect overlap with the Cloud Foundry buildpacks, so it's not surprising that there are failures.  Our focus is on supporting build-from-source rather than packaging up existing binary blobs.  But it's something for us to consider.

[2020-05-15 18:18] lukasberger commented on #32
We only support .NET Core 3.0+ applications. The one in the repo seems to use .NET Core 1.x.

[2020-05-15 21:02] #26 closed

[2020-05-15 22:01] jamesward commented on #26
Thanks!

[2020-05-16 16:02] mattmoor opened #33 "Support "k8schain" authentication option"
I can't run this on Tekton on GKE (or EKS, or AKS) today without configuring auth *the hard way* because there isn't a k8schain option for using the ambient workload auth available thru http://metadata et al.

See: https://github.com/google/go-containerregistry/tree/master/pkg/authn/k8schain

[2020-05-18 17:30] lukasberger commented on #33
Are you using the official tekton [template](https://github.com/tektoncd/catalog/tree/master/buildpacks), pack, or invoking the builder directly?

If it's the lifecycle steps that are failing, I think this would be a FR for [lifecycle](https://github.com/buildpacks/lifecycle). Our buildpacks rely on the environment already being configured.

[2020-05-18 22:17] mattmoor commented on #33
I talked to some of the buildpacks folks directly, and I think that they are going to probably pull this into the default keychain resolution logic.

We can close this for now.

[2020-05-18 22:17] #33 closed

[2020-05-18 22:18] mattmoor commented on #33
For posterity, I was using a taskrun derived from the catalog task definition, but not literally that task.

The task definition just seems outright broken as `-helpers` was removed at some point.

[2020-05-19 02:06] xiujuan95 commented on #32
I see, thanks @lukasberger @briandealwis

[2020-05-19 21:06] yuzeh opened #34 "GAE: yarn build failing due to accidental cache hit"
Sorry that this bug is a bit vague, I've been trying to investigate the issue this morning and it led me to here.

I have an app that's built with node12+yarn and am trying to deploy to Google App Engine via `gcloud app deploy`. The deploy has been failing with a link to Cloud Build. When I go to the Cloud Build log, I see this:

[code]

The hash here remains the same after deploying again with up

[2020-05-19 21:15] lukasberger commented on #34
Thank you for the report. Is it possible that your package.json was not updated but no dependencies changes so yarn.lock stayed the same? The way we generate the cache key is by hashing the version of Node and contents of yarn.lock, which would lead to a cache hit in this case. We've fixed in the the npm/yarn buildapcks, but unfortunately seem to have missed the gcp-build buildpacks.

[2020-05-19 21:49] #23 closed

[2020-05-19 22:47] lukasberger commented on #34
This should now be fixed at HEAD, but it may take some time to see the changes in GAE. In the interim please use the `--no-cache` flag. If this continues to be an issue for you, please feel free to reopen.

[2020-05-20 16:56] hjr3 commented on #34
@lukasberger We also hit this bug. I double checked and we definitely updated our `package-lock.json` file. I also checked that the build manifest included the package-lock.json file. I am all for including `package.json` in when computing the hash, but it feels like there is a deeper bug here.

[2020-05-20 17:32] yuzeh commented on #34
Agree with @hjr3 on this. I think the issue is a bit deeper than just "`package.json` wasn't added to the list of files to `sha256`" as https://github.com/GoogleCloudPlatform/buildpacks/commit/d1b3768b9ddc6247cf92c96ace96fefe87a835ee does.

The issue I was running into yesterday still happened despite updating my `yarn.lock` file.

@lukasberger

[2020-05-20 17:39] yuzeh commented on #34
My understanding of golang is very basic, but I think this might be the smoking gun?

https://github.com/GoogleCloudPlatform/buildpacks/blob/8f3e10b/pkg/gcpbuildpack/hash.go#L51

This function hashes a `string` parameter as the value of the string and not the contents of the file that the `string` points to.

[2020-05-20 18:32] lukasberger commented on #34
Yes, that is indeed the issue. We're in the process of reverting the most recent release in GAE, which introduced this regression. Sorry about that!

[2020-05-22 14:56] eddumelendez commented on #32
Currently, spring-boot supports image customization via [maven](https://docs.spring.io/spring-boot/docs/2.3.0.RELEASE/maven-plugin/reference/html/#build-image-customization) or [gradle](https://docs.spring.io/spring-boot/docs/2.3.0.RELEASE/gradle-plugin/reference/html/#build-image-customization) in the latest snapshots get

[code]

and this is due to spring-boot already build the jar so the builde

[2020-05-25 15:13] briandealwis commented on #32
@eddumelendez we don't support packaging up a jar directly into a container image at the moment. Could you please open a new issue as your request is not directly related to this issue.

[2020-05-25 15:15] briandealwis commented on #32
Closing this issue: we discussed this issue as a team and feature parity with the Cloud Foundry buildpacks is not a goal of this project.

[2020-05-25 15:15] #32 closed

[2020-05-25 15:18] eddumelendez opened #37 "Add support to create a container from jar"
Currently, spring-boot supports image customization via [maven](https://docs.spring.io/spring-boot/docs/2.3.0.RELEASE/maven-plugin/reference/html/#build-image-customization) or [gradle](https://docs.spring.io/spring-boot/docs/2.3.0.RELEASE/gradle-plugin/reference/html/#build-image-customization) in the latest snapshots get

[code]

and this is due to spring-boot already build the jar so the builde

[2020-05-26 07:26] rhodee opened #38 "Setting GOPRIVATE does not find Private Modules"
How should the `GOPRIVATE` env var be set while running `pack`, version `0.10.0`? I get the following error message:

[code]

Below are the commands I am using to create the image

[code]

On my host the flags work, but I understand that `pack` command does not read from the environment. I can confirm I am able to read the module information when adding the `go-get=1` query parameter to the specif

[2020-05-26 19:20] lukasberger commented on #37
Thank you for the report. We do support creating containers from jar files, but only from the project root at the moment. What is the structure of the directory that spring-boot calls the build from?

[2020-05-26 19:42] eddumelendez commented on #37
for `maven` projects the jar is inside `root-project -> target -> jar` and for `gradle` is `root-project -> build -> libs -> jar`

[2020-05-26 20:08] ashih commented on #37
Our buildpacks work with springboot [1] and do support searching in the generated directory for jars [2]. What exactly is your request? Can you provide some sort of code sample and step-by-step instructions on the commands you are trying to run. Thanks!

[1] https://github.com/GoogleCloudPlatform/buildpacks/tree/master/builders/testdata/java/springboot-helloworld
[2] https://github.com/GoogleCloud

[2020-05-26 20:30] lukasberger commented on #37
I believe the java/runtime buildpack is at fault here. Even though we look for jars in both maven and gradle output directories in the java/entrypoint buildpack, the java/runtime buildpack does not look for nested jars and opts out, failing the build.

[2020-05-26 20:43] eddumelendez commented on #37
examples are attached. They are generated from start.spring.io with the latest snapshots only

In order to run `gradle-demo`: `./gradlew bootBuildImage --builder=gcr.io/buildpacks/builder`

In order to run `maven-demo`:`./mvnw spring-boot:build-image -DskipTests -Dspring-boot.build-image.builder=gcr.io/buildpacks/builder`

Both generate the error message `ERROR: No buildpack groups passed detectio

[2020-05-26 22:56] #34 closed

[2020-05-27 00:58] lukasberger commented on #38
Thank you for filing the issue. Pack does not provide access to the git credentials that you have stored locally, so private dependencies will be inaccessible by Go. Unfortunately we don't have a good answer for this, yet. As a workaround, you could try vendoring your private dependencies as described [here](https://cloud.google.com/appengine/docs/standard/go/specifying-dependencies#using_private_

[2020-05-27 03:07] rhodee commented on #38
Thanks @lukasberger for taking a look at this. I am excited to see the direction the tool takes. If the team would consider including the fact that private modules are not yet supported bas one of the caveats, that would be great for folks coming to the project.

[2020-05-27 12:53] #29 closed

[2020-05-28 01:50] eddumelendez commented on #37
I have enabled the logging and this is the result. Instructions in the previous comment

[code]

[2020-05-28 14:59] scottfrederick commented on #37
The Spring Boot plugins for [Maven](https://docs.spring.io/spring-boot/docs/current/maven-plugin/reference/html/#build-image) and [Gradle](https://docs.spring.io/spring-boot/docs/current/gradle-plugin/reference/html/#build-image) will only provide a jar file to the CNB builder when the image-building features are used (e.g. with the `mvn spring-boot:build-image` goal or `gradle bootBuildImage` tas

[2020-05-28 16:49] lukasberger commented on #37
The java/runtime buildpack will currently not pass detection unless the jar file is at application root, however, builds still fail after updating the logic. It looks like Spring Boot runs the build with an exploded jar, which we do not support yet,  i.e.

[code]

[2020-05-29 17:11] ImJasonH opened #39 "Provide wget in gcr.io/buildpacks/builder"
I built a container image registry service that fetches source from GitHub and builds and serves images just-in-time, at pull-time: https://kontain.me/

One of the ways it builds is using buildpacks:

[code]

Currently it's hard-coded to use `packs/samples:v3alpha2` and I was looking into switching it to `gcr.io/buildpacks/builder` instead.

Unfortunately, the way the service works, [it relies on

[2020-05-29 17:42] lukasberger commented on #39
That'd be amazing!

I have a counter proposal, since we already have `curl` installed, could that line be switched to `curl -fsSL % | ...` instead? I think that should be functionally equivalent.

[2020-05-29 21:53] ImJasonH commented on #39
@lukasberger Perfect! I've got it detecting and building now, but `/lifecycle/exporter` now fails because creds aren't being found, even though the Cloud Run app should be authorizing as the service account.

[code]

Is the gcr cred helper available and configured in the image? This worked without any special work with `packs/samples:v3alpha2`, where `/lifecycle/exporter` accepted a `-helpers=true

[2020-05-29 22:05] lukasberger commented on #39
Ah, it looks like it was removed in buildpacks/lifecycle#121 ([RFC](https://github.com/buildpacks/rfcs/blob/master/text/0028-remove-cred-helpers.md)). I think you mind need to add the GCR credential helper to .docker/config.json [manually](https://github.com/GoogleCloudPlatform/docker-credential-gcr#manual-docker-client-configuration).

[2020-05-29 22:45] ImJasonH commented on #39
Looks like it's not included in the image?

[code]

[2020-05-29 23:17] lukasberger commented on #39
Should that be in the image or on the machine running the image? `pack` for example seems to use the host's credentials helper.

[2020-05-30 11:46] ImJasonH commented on #39
In this case, I'm expecting it to be in the builder image. The way `buildpack.kontain.me` works is that it's a Cloud Run app, running a container image that is effectively `FROM gcr.io/buildpacks/builder`, with a little Go server in front of it that serves the Docker registry API. When it comes time to build, it calls the `/lifecycle/detect`, etc., binaries present in the image. When it goes to pu

[2020-05-30 11:46] #39 closed

[2020-06-03 00:19] di opened #41 "[Python] Always set PYTHONUNBUFFERED"
All buildpacks implementing a Python runtime should set `PYTHONUNBUFFERED=TRUE` (or some other truthy value), and allow this to be overridden by the buildpack user.

This forces stdout/stderr streams to be unbuffered, which means that `print()` statements and log messages will immediately appear in the logs.

Without it, it may be necessary to occasionally call `sys.stdout.flush()`.

However this

[2020-06-03 15:20] briandealwis opened #42 "[devmode] image syncrules metadata requires tweaking"
The syncrules that are serialized out by the _devmode_ functionality into the image should be tweaked:
  - missing the `name` and `version`
  - the SyncRule elements are not using the `json` struct tags

[code]

[2020-06-05 09:46] #41 closed

[2020-06-05 14:04] briandealwis commented on #42
Fixed by 9eb84505f399b4db93fe096c067e39753ca407a2

[2020-06-05 14:04] #42 closed

[2020-06-08 14:50] jamesward opened #45 "Python Auto Entrypoint"
Python uses have reported friction around the entrypoint.  There isn't a standard way in the Python world to start an app.  Users can use an env var or `Procfile` to define the entrypoint but just running the buildpack on a regular Python project doesn't help the user discover how to do that.  Some options:
- If `requirements.txt` exists but an entrypoint isn't defined, provide info on how to defi

[2020-06-08 18:30] ahmetb commented on #45
I suspect auto-entrypoint is less feasible than something like:

Should we track this separately?

[2020-06-08 19:06] di commented on #45
This makes a lot of assumptions and could be really tricky. For example, Flask doesn't have a production-grade HTTP/WSGI server, so we'd also need to install something like `gunicorn`, and then also make assumptions about how to configure (or if we should configure) that HTTP/WSGI server.

In addition, running _any_ WSGI server in Python requires knowing where the WSGI app is. Sometime's it's an `

[2020-06-08 20:22] jamesward commented on #45
Yikes. Yeah, given the lack of any standard conventions it seems that the error route is the only viable one.

[2020-06-08 21:13] drewpca commented on #45
What's the harm in starting the convention here? Estimate the most common name (and port, etc), make that the default, and then liberally suggest Procfile so users don't think they're being forced into our conventions.

Result: Shorter tutorials, lower friction, most buildpack'd python services would have fewer helper files, and most python services would use same entry point (easing readability).

[2020-06-08 21:38] drewpca opened #46 "Missing --only-pull-if-needed mode; --no-pull is too strong"
Consider a user running 'pack build' repeatedly, perhaps in a tutorial, or a workflow that involves making images in the dev loop, or trying to debug an issue with how buildpack is handling their source. The image-check phase (up to the `===> DETECTING` line) takes 7-8 seconds on my fast machine with fast connection, even on repeated runs. This is very annoying, and I wish it could be fixed. Meanw

[2020-06-08 21:49] lukasberger commented on #46
I think `--only-pull-if-needed` is the default behavior of pack. Our current setup rebuilds the stack images every time we merge a commit, causing images with new hashes to be created on GCR and causing `pack` to try to pull the updated version even though it's functionally the same. We're working on fix.

[2020-06-09 06:36] dgageot commented on #46
By default, `pack` will always try to pull the builder and run images if newer versions exist.
With the `--no-pull` flag, it'll never pull and fail if no image is found locally.
We could have a new flag in `pack` that doesn't pull an image if there's one with the same tag locally, no matter if it's outdated.

[2020-06-09 17:04] di commented on #45
I think the harm is that the failure case is a container that seems to have been successfully built, but crashes when it tries to start, without meaningful error messages.

I should also mention: the Python ecosystem is starting to adopt the `pyproject.toml` file for Python project configuration. Using the [tool table](https://www.python.org/dev/peps/pep-0518/#tool-table) allows tools to specify a

[2020-06-10 18:17] ahmetb opened #47 "".Net 3" in readme sounds wrong"
- `.Net` is not the correct capitalization
- .NET 3 was released on 2006.
- I think this is meaning to say ".NET Core 3"

[2020-06-10 18:28] #47 closed, assigned to lukasberger

[2020-06-10 18:46] grayside opened #48 "Python: Default env var PYTHONUNBUFFERED=True"
In https://github.com/GoogleCloudPlatform/python-docs-samples/pull/3937 we switch most Cloud Run samples to use `ENV PYTHONUNBUFFERED=True` because it allows logs to stream to stdout without needing to be explicitly flushed. This creates a more natural developer experience and reduces the chance that developers lose logs on platforms such as Cloud Run where CPU is not available in between requests

[2020-06-10 19:36] #48 closed, assigned to nobody

[2020-06-11 18:27] dgageot commented on #45
We should have a better error message when a Python app doesn't have a user defined entrypoint: https://github.com/GoogleCloudPlatform/buildpacks/commit/bde51bc94ee52e5115ecab0d7b7f08fd46af77ba

[2020-06-11 18:28] dgageot commented on #30
Done with https://github.com/GoogleCloudPlatform/buildpacks/commit/3160121803f4b7986a4041788225d166421a5350

[2020-06-11 18:28] #30 closed

[2020-06-17 17:11] jamesward opened #51 "Spring Boot build-image Support"
Spring Boot has builtin support for Buildpacks.  Try it:
[code]

But if you try with our builder image it fails detection:
[code]

[code]

[2020-06-17 17:19] ashih commented on #51
Thanks James! I believe we discussed this in #37, but let me know if this is different.

[2020-06-17 17:21] jamesward commented on #51
Sure enough! Sorry for the dupe.

[2020-06-17 17:21] #51 closed

[2020-06-17 23:46] dependabot-preview[bot] opened #52 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2020-06-18 11:44] dgageot opened #54 "`Unrecognized option: --add-opens` with Java 8"
The `--add-opens` flag was recently added to every Maven build. It seems to fail with Java 8. cc @eamonnmcmanus

[2020-06-18 13:35] eamonnmcmanus commented on #54
I will look into this.

[2020-06-18 15:02] briandealwis commented on #54
Workaround is to add a `.mvn/jvm.config`.

[2020-06-19 21:21] eamonnmcmanus commented on #54
This should be fixed now. If `GOOGLE_RUNTIME_VERSION=8` then we don't apply `--add-opens`.

[2020-06-23 02:53] briandealwis commented on #54
Fixed by 196a68e20e2a56ce998a9bc729ca292dbc6caf47

[2020-06-23 02:53] #54 closed

[2020-06-26 22:10] #37 closed

[2020-06-30 15:01] fsladkey opened #56 "Carriage return in Procfile being treated as part of command on Windows"
I encountered this error running [this Cloud Code sample](https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/python/python-hello-world).

Steps to reproduce:
* Clone sample linked above
* run `pack build --builder=gcr.io/buildpacks/builder sample-python`
* run `docker run -it -ePORT=8080 -p8080:8080 sample-python`
    * On Mac, it runs correctly :tada:
    * On Windows, the buil

[2020-06-30 18:48] briandealwis opened #57 "Java buildpacks should support GOOGLE_BUILDABLE for multi-module projects"
Many Maven projects are multi-module projects with a parent POM and multiple artifacts, often structured like:
[code]

where the `main` project provides the entrypoint and depends on the `library` project being built.

The Java buildpacks should support the use of the GOOGLE_BUILDABLE to specify which artifacts is to be the primary artifact to be built.

In Skaffold-Jib, we use:
  - Maven: `mvn --

[2020-06-30 20:07] #56 closed

[2020-06-30 23:48] matthewmichihara opened #58 "Building Java maven project with mvnw wrapper fails on Windows"
Windows 10 Home
Docker Desktop 2.3.0.3 (45519)
pack 0.11.2+git-063a80d.build-677

1. Clone https://github.com/GoogleCloudPlatform/buildpack-samples.
2. Go to the `sample-java-mvn` directory.
3. Run `pack build --builder=gcr.io/buildpacks/builder sample-java-mvn`

**Expected**: Build succeeds.
**Actual**: Build fails due to `Failure: (ID: ec077b97) executing command "./mvnw clean package --batch-mo

[2020-07-01 00:11] briandealwis commented on #58
I suspect it’s the execute bit permission is not present.

[2020-07-01 10:31] dgageot commented on #52
@lukasberger are you working on this one?

[2020-07-01 20:44] lukasberger commented on #52
Yes, turns out we have to fix the config to be able to delete it in dependabot..

[2020-07-01 20:55] lukasberger commented on #52
Or maybe not, I just revoked its permissions.

[2020-07-01 21:44] #52 closed

[2020-07-04 11:36] alizowghi opened #60 "Failed to run /bin/build: couldn't make "./mvnw" executable: chmod ./mvnw: operation not permitted"
Hi
Thank you for your efforts.
I have this error when building spring boot application.
`Failed to run /bin/build: couldn't make "./mvnw" executable: chmod ./mvnw: operation not permitted
————————————————————————————————————————————————————————————————————————————————
Sorry your project couldn't be built.
`

[2020-07-06 16:59] lukasberger commented on #60
Thank you for reporting the issue. Just to clarify – what OS are you using and how are you invoking the build?

cc @dgageot

[2020-07-06 18:13] dgageot commented on #60
Oh, I recently added a fix for when mvnw can't be executed. Can you tell us which OS you are using?

[2020-07-06 19:24] briandealwis commented on #60
I wonder what user owns the directory and `mvnw`.

[2020-07-06 22:29] matthewmichihara commented on #58
For some reason I thought this was fixed, but when I trying it again, I consistently get this error (still on Windows):

[code]

[2020-07-07 10:55] dgageot commented on #60
I'll remove the code that runs `chmod` on `mvnw` and `gradlew`. It was meant to fix #58 but in fact fixes nothing.

[2020-07-07 10:55] dgageot commented on #58
Reopening. This is not fixed

[2020-07-07 10:57] alizowghi commented on #60
Thank you for your response

OS: Ubuntu 18.04

pack build

[2020-07-07 11:40] briandealwis commented on #60
@alizowghi Have you changed the configuration for your docker daemon? Could you please include your `/etc/docker/daemon.json`?

[2020-07-07 12:35] dgageot commented on #58
The issue is not about file permissions but about line endings. The `mvnw` script is transformed by git on Windows. Here's a PR to the samples to make sure the maven and gradle wrappers have the proper line endings: https://github.com/GoogleCloudPlatform/cloud-code-samples/pull/375.

I wonder if we should try to fix that on the buildpacks side or at least produce a clear error message

[2020-07-07 18:22] #58 closed

[2020-07-07 18:22] #60 closed

[2020-07-08 10:03] dgageot commented on #4
@lukasberger can we close this?

[2020-07-08 17:13] lukasberger commented on #4
We have GCB builds running on PR creation now in addition to Kokoro, which should be enough to provide early feedback. Let's go with this for now and if it proves to be too cumbersome we can switch to Travis or similar.

[2020-07-08 17:13] #4 closed

[2020-07-12 03:08] EatonZ opened #61 "Multiple .NET Core project files support"
Hi, I am new to the buildpack world and I am trying to pack a ServiceStack API. A ServiceStack API consists of 3 projects in 1 solution.

I tried packing this (on Windows) 2 different ways:

1. I ran pack in the folder with the .sln file and this was the result:
`Failure: (ID: 5057fa43) expected to find exactly one project file in directory ., found [./test.Tests/test.Tests.csproj ./test.ServiceMo

[2020-07-12 05:12] hdp617 commented on #61
You can run pack in the folder with the .sln and set the `GOOGLE_BUILDABLE` env var to be the path to the project to be built e.g. `GOOGLE_BUILDABLE=test.ServiceModel`.

[2020-07-12 18:54] EatonZ commented on #61
@hdp617 Figured it was something simple. That did the trick, thank you!😁

[2020-07-12 18:54] #61 closed

[2020-07-15 21:28] steren opened #62 "If Dockerfile is present at the root, perform a regular Docker build"
Today, running `pack build --builder gcr.io/buildpacks/builder` in a repo that contains code written in popular languages will result in a nice container for these languages.
Sadly, if this repo contains a `Dockerfile`, then the command will ignore it and still do a language detection.
This means that developers now have to change their tooling (`pack` vs `docker`) depending on the kind of build t

[2020-07-15 21:30] jamesward commented on #62
I think this is a great idea!

[2020-07-15 21:31] squee1945 commented on #62
Buildpacks, by design, don't have direct access to the Docker daemon in this way. This would have to be implemented by the platform itself (e.g., `pack`).

[2020-07-15 21:39] jamesward commented on #62
Since the buildpacks run in a container, could that container be one with docker in it?  Is the docker socket mounted in the container when a buildpack runs?

[2020-07-15 22:20] squee1945 commented on #62
The relevant part of the spec is here: https://github.com/buildpacks/spec/blob/main/buildpack.md#assumptions-of-trust

[code]

[2020-07-15 22:32] steren commented on #62
So, should we suggest this to be added to `pack` itself?

And if not, let's create a new tool named `packer`, that wraps `pack` and `docker` 😄  (half joking)

[2020-07-17 10:21] vchrisb opened #63 "add an option to install os packages (for python)"
Many python packages have dependencies to os packages. Like `django` is dependent on `gdal-bin` for handling gis data.
I think the current approach is to create my own run buildpack, based on `gcr.io/buildpacks/gcp/run:v1`.

[code]

Creating and maintaining my own run image, just to install an os package, is rather tedious.

It would be great to add an option to specify a list of os packages to be

[2020-07-17 14:20] jamesward commented on #62
Another option for a dockerfile buildpack would be to use a library that can parse a `Dockerfile` and manually do the assembling.  Jib has implemented some of this. I think there is a go-based docker impl and a Java one.  Caveats would be it may not be 100% compatible with `docker build` but may be sufficiently close.

[2020-07-17 15:23] steren commented on #62
Maybe https://github.com/GoogleContainerTools/kaniko ?

[2020-07-17 15:59] di commented on #63
If you need to customize the base image like this, you might be better off defining and building from your own `Dockerfile` instead. What advantage are you hoping to get by using `pack` and the GCP buildpacks here?

[2020-07-17 16:03] jamesward commented on #63
There is a buildpack proposal for this functionality: https://github.com/buildpacks/rfcs/pull/87

[2020-07-17 16:46] vchrisb commented on #63
@di I would loose all the benefits of buildpacks and its ecosystem. And I would need to maintain an image, all of that just because of one os dependency.
Thx @jamesward https://github.com/buildpacks/rfcs/blob/app-mixins/text/0000-app-mixins.md#example-apt-buildpack is what I'm looking forward to.

[2020-07-17 16:46] #63 closed

[2020-07-18 15:52] steren commented on #62
I suggested this behavior to be added to `pack` https://github.com/buildpacks/pack/issues/756

[2020-07-20 14:59] jamesward opened #64 "Non-web Procfile Support"
With Heroku's `Procfile` support in their buildpacks, multiple processes can be defined, like:
[code]

The default process for the container is `web` but other processes can be run by specifying them as args, i.e.
`docker run gcr.io/asdf/zxcv other`

It seems that our `Procfile` support doesn't work with the non-web processes.  It'd be great to have this for compat with Heroku.

[2020-07-30 19:32] jamesward opened #66 "Quarkus Gradle Support"
I went to https://start.quarkus.io and selected Gradle as the build tool, then tried to build it with the Cloud Buildpacks but it error'd with:
[code]

The `assemble` task produces a `build/code-with-quarkus-1.0.0-SNAPSHOT-runner.jar` file that has a `META-INF/MANIFEST.MF` containing:
[code]

Which I can run:
[code]

So it seems like this should work out-of-the-box.

[2020-07-30 20:05] ashih commented on #66
By just looking at your report, it seems that since the jar is in build/ and not in build/libs, our buildpacks must have missed the jar: https://github.com/GoogleCloudPlatform/buildpacks/blob/main/pkg/java/java.go#L56. Any idea if this application placed the jar in the improper location or if we should be searching in build/ rather than build/libs? A quick search online documents jars created by G

[2020-07-30 20:17] jamesward commented on #66
There isn't really a standard convention for where the jars go.  So I think we should check `build/*.jar` and `build/libs/*.jar` in that order.

[2020-07-30 20:28] jamesward commented on #66
Oh and I think the reason why Quarkus is different is that it compiles the project to `build/libs/code-with-quarkus-1.0.0-SNAPSHOT.jar` and creates a runnable jar at `build/code-with-quarkus-1.0.0-SNAPSHOT-runner.jar`.  Which I think follows the convention they use with their Maven plugin:
[code]

[2020-07-31 22:12] ashih commented on #66
Hm does that mean we also be checking target/lib for executable jars as well then?

[2020-07-31 22:54] jamesward commented on #66
Quarkus with Maven works out-of-the-box with the Cloud Buildpacks.  So it must already be looking in `target` for jars with a `Main-Class`.  Only Quarkus with Gradle is having the problem.

[2020-08-04 15:53] steren opened #68 "Missing docs about Procfile support"
Users expected to use a Procfile to declare the Python entrypoint (and it seems to work), but this is not documented.

[2020-08-04 19:20] di commented on #68
I think this is a duplicate of https://github.com/GoogleCloudPlatform/buildpacks/issues/22.

[2020-08-04 19:21] #66 closed

[2020-08-04 19:23] steren commented on #68
It is yes.

[2020-08-04 19:23] #68 closed

[2020-08-04 20:21] steren opened #69 "Default entrypoint behaviors are not documented."
I would like to link to a place where we would explain what are the entrypoint deaults for every language (e.g. in Node.js, we run the `start` command of `package.json`). I cannot find such doc.

[2020-08-04 22:33] vindvaki opened #70 "Stack run.Dockerfile default ENV PORT overrides buildpack's env.launch defaults"
### Problem

It looks like the `google` CNB stack sets a [default `PORT=8080` in its Dockerfile](https://github.com/GoogleCloudPlatform/buildpacks/blob/main/builders/gcp/base/stack/run.Dockerfile). Running `docker inspect` on an image similarly shows that `Config.Env` has `PORT=8080`.

This makes it difficult to customize the *default* value of `PORT` at runtime, presumably because it gets set bef

[2020-08-05 02:24] EatonZ opened #71 "--pack with caching"
I want to use `gcloud alpha builds submit --pack` as suggested [here](https://github.com/GoogleCloudPlatform/buildpacks#using-with-google-cloud-build), but it is very slow compared to building locally. Even using `--machine-type=n1-highcpu-32` doesn't help a whole lot.

It looks like the issue is with caching. When running pack on my local machine, everything runs much faster since it uses cached

[2020-08-07 23:42] #69 closed

[2020-08-10 14:06] marcusmaday opened #72 "Builder scaffolding - using this repo as a base for new builder collections"
Greetings!  I'm starting to create my own opinionated collection of builders (not GCP related).  I love the structure of this repo and am planning to use it as the base for my new collection.  Is there any appetite for publishing this repo as a pattern for the buildpack community as a whole to leverage?  I greatly prefer the pattern contained in this repository to the less cohesive one established

[2020-08-10 15:40] EatonZ commented on #71
Any tips? This is a blocking issue for me right now.

[2020-08-10 17:22] lukasberger commented on #71
Unfortunately, it's not currently possible to enable caching in Cloud Build when using the `--pack` flag. Builds with this flag invoke the `pack` CLI directly, which only supports local volume caching and volumes are not preserved across builds in Cloud Build.

To get around this limitation, you could create your own cloudbuild.yaml and invoke the build with `--config path/to/cloudbuild.yaml` in t

[2020-08-11 03:43] EatonZ commented on #71
@lukasberger Thank you for the information!
Can you also clarify how I would pass in the `GOOGLE_BUILDABLE` environment variable?

I hope you will consider adding something to handle this. Building without cache is very painful.

[2020-08-11 17:15] lukasberger commented on #71
Here's an updated `cloudbuild.yaml`:

[code]

I will forward the request to the Cloud Build team, but caching support is likely blocked on buildpacks/pack#491.

[2020-08-12 19:15] briandealwis opened #73 "Improve development support for non-Linux platforms"
#43 added some hacks to allow developing and testing buildpacks from non-Linux machines.  By turning our buildpack macros into rules, we should then be able to use Bazel's [_configuration transitions_](https://docs.bazel.build/versions/master/skylark/config.html#user-defined-transitions) to allow local testing of individual components, while also building and assembling the buildpacks for the Linu

[2020-08-12 21:07] briandealwis commented on #72
Please feel free to fork or copy the repo, but this codebase is a mirror of our internal codebase, so we have to be very careful in how we change and update Bazel/Blaze configurations.  I plan to make some changes to support #73.

[2020-08-12 21:07] #72 closed

[2020-08-12 23:44] EatonZ commented on #71
@lukasberger Issue opened [here](https://issuetracker.google.com/issues/163838925).

[2020-08-13 00:08] grant commented on #24
I was looking and saw the description in pack:

[code]

But it looks like we have buildpacks for Ruby and PHP?
https://github.com/GoogleCloudPlatform/buildpacks/tree/main/builders/gcf

[2020-08-13 01:30] lukasberger commented on #24
PHP and Ruby. are only supported in the GAE/GCF builders where the runtime is part included in the stack images. We don't have a `runtime` buildpack for either, yet.

[2020-08-13 18:21] marcusmaday commented on #72
Fair enough.  Thanks for the response!

[2020-09-03 12:00] fiws opened #75 "App engine uses `npm ci` with `NODE_ENV=production` by default"
It seems that the gae image switched to `npm ci` with `NODE_ENV=production` by default at some point.

This does not install the dev dependencies which breaks a lot of projects i think.

i could not find a way to change this. setting the `NODE_ENV` in the app.yaml does not work for the build step.

[code]

[2020-09-03 17:59] lukasberger commented on #75
That you for the feedback. This change was made intentionally as including devDependencies in a production image is often undesirable.

To run a script that depends on devDependencies at build time, you can use the `gcp-build` script ([documentation](http://cloud/appengine/docs/standard/nodejs/running-custom-build-step)).

To override the default behavior of using `NODE_ENV=production` during inst

[2020-09-03 18:43] fiws commented on #75
thanks for the feedback. but could you check the documentation link? it's invalid

[2020-09-03 18:54] lukasberger commented on #75
Sorry, fixed.

[2020-09-03 21:27] briandealwis opened #76 "Devmode's watched file-extensions should be extensible"
Our list of watched file extensions is somewhat limited, particularly for npm/yarn.  This is in part because we limit ourselves to file types that we are certain are supported by the underlying language builder.  But for general-purpose build-tools, like `npm` and `yarn`, or `mvn` and `gradle`, we could support a way for users to opt-in additional extensions.

This might be best configured using c

[2020-09-07 16:46] fiws commented on #75
thanks i fixed my problem with this. (a "we might break your code with this" email would have been nice tho imo :wink: )

[2020-09-07 16:46] #75 closed

[2020-09-23 16:52] grant opened #77 "Ruby Function Support"
I'd like to be able to build Ruby functions in a container with the `pack` command.

Right now I'm not able to (using the Ruby hello world for example). It doesn't seem to detect the buildpack. I know Ruby isn't supported yet as listed on the README, so I suppose this is a feature request.

Repro:

[code]

[code]

Build

[code]

[2020-09-23 16:59] adamzr opened #78 "Feature Request: Java 15"
I'm interested in using the buildpacks, but we use the latest version of Java, currently Java 15. The docs state you only support the LTS version (Java 11). Can you add support for the current latest stable version of Java (i.e. 15)?

[2020-09-23 19:19] lukasberger commented on #78
Even though the README does not indicate so, Java 15 should already work if you pass in `-e GOOGLE_RUNTIME_VERSION=15` at build time.

[2020-09-23 23:31] ace-n opened #79 "Add support for file ignoring in builds"
We should have some (well-documented) mechanism for ignoring files.

(Ignored files can result in unnecessary build failures - e.g. the Python GCF builder fails if your `.nox` folder is out of date.)
[code]

[2020-09-24 00:04] di commented on #79
Seems like `.gcloudignore` would be the appropriate tool to use here.

I also feel like this is overkill for just checking syntax of the user's function, but I don't have anything better:

https://github.com/GoogleCloudPlatform/buildpacks/blob/410b552aba55404bdb45acb638112feb271de01f/cmd/python/functions_framework/main.go#L57-L58

[2020-09-24 00:29] lukasberger commented on #79
IIRC we added this check because functions would often fail at run time and it was difficult for customers to access the logs to determine the failure reason.

[`.gcloudignore`](http://cloud/functions/docs/deploying/filesystem) is documented as a way to ignore files in GCF and [`project.toml`](https://buildpacks.io/docs/reference/config/project-descriptor/) when using the builders directly with `p

[2020-09-30 17:16] kwilcox commented on #11
I was able to avoid setting `NODE_ENV=development` by defining the `gcp-build` script [as documented here](https://cloud.google.com/appengine/docs/standard/nodejs/running-custom-build-step). I didn't trace back what actually checks for the `gcp-build` script to execute it but it may be the buildpack.

[2020-10-01 17:14] lukasberger commented on #11
`gcp-build` has its own buildpack ([source](https://github.com/GoogleCloudPlatform/buildpacks/tree/main/cmd/nodejs/npm_gcp_build)), which is available in App Engine and Cloud Functions.

You can override NODE_ENV at build time using `-e NODE_ENV=development` if using `pack` directly or by creating `.npmrc` when deploying to GAE/GCF: https://github.com/GoogleCloudPlatform/buildpacks/issues/75#issue

[2020-10-08 19:17] grant opened #80 "Update google.python.pip Version"
The pip version used to install packages with GCF is outdated. It should be 19+ in order to install packages like tensorflow in GCF.

I believe the source for the pip version is:

https://github.com/GoogleCloudPlatform/buildpacks/blob/main/cmd/python/pip/buildpack.toml

It should be 19+.

B: b/145374253
CC: @lukasberger @di
See internal doc: Google Cloud Buildpacks + Python – Friction

[2020-10-08 19:39] di commented on #80
Are you referring to this line? https://github.com/GoogleCloudPlatform/buildpacks/blob/77ff79fc4b91051efd0c2c721e1476c306a847f2/cmd/python/pip/buildpack.toml#L5

This is the buildpack version, not the `pip` version. The GCF buildpack currently uses `pip==20.2.3`, the latest version.

[2020-10-08 19:41] lukasberger commented on #80
Dustin's right, that's the buildpack version. The bug is from last year.

[2020-10-08 19:41] #80 closed

[2020-10-11 14:52] sesam opened #81 "Request: docs clarification"
In the README one section mentions signature type "event". Elsewhere I understood that "event" is deprecated and should be replaced by "cloudevent". Is this true, and can the README example simply be updated, or is there something more that must be done?

[2020-10-12 22:18] lukasberger commented on #81
Thank you for pointing this out. `event` is still supported in Cloud Functions, but I will update the README to include `cloudevent` as well.

[2020-10-12 22:40] #81 closed

[2020-10-20 19:37] jamesward opened #82 "Launcher Override Via Args"
I believe it used to work to override a launcher command by doing something like:
[code]

But that doesn't seem to be the case anymore.  Now it always just runs what is in the `Procfile`.

Here is an example: https://github.com/GoogleCloudPlatform/kotlin-samples/tree/broken-proc/run/grpc-hello-world-gradle

Note how the default `web` process is to run the server, but it used to work to run the cli

[2020-10-20 20:23] lukasberger commented on #82
Yes, it did, but lifecycle changed this behavior in version 0.9.0 [release notes](https://github.com/buildpacks/lifecycle/releases/tag/v0.9.0). The relevant RFC is [RFC-0045](https://github.com/buildpacks/rfcs/blob/main/text/0045-launcher-arguments.md).

Lifecycle now writes all processes to `/cnb/processes`, which is added to PATH and removed before the chosen process is launched. The way to run

[2020-10-20 20:30] lukasberger commented on #82
I think the changes made in the linked PR were the correct thing to do based on some [examples](https://github.com/buildpacks/rfcs/blob/main/text/0045-launcher-arguments.md#specifying-a-custom-process-at-runtime) in the RFC.

[2020-10-20 20:31] jamesward commented on #82
Ah! Thanks. I was able to make this work with `--entrypoint=/cnb/lifecycle/launcher` but can't do non-web `Procfile` named processes due to: https://github.com/GoogleCloudPlatform/buildpacks/issues/64

[2020-10-20 20:31] #82 closed

[2020-10-20 20:51] di commented on #64
+1. My use case for this would be defining a `test` process that can run some tests within a built image.

[2020-10-22 15:58] winmillwill opened #83 "cache the downloaded deps for go modules"
Apologies if I've missed some obvious configuration or some reason why this isn't feasible. IIUC part of the value added proposition of buildpacks is that the different buildpacks can cache their outputs and reuse them when the inputs don't change. When running pack twice in a row on my laptop, without changing anything on disk, the dependencies are downloaded each time.

[2020-10-22 16:02] di commented on #83
@winmillwill Can you provide a minimal example? Which buildpack are you using?

[2020-10-22 16:16] lukasberger commented on #83
We're not currently caching the modules or GOCACHE in the go.build buildpack (which I assume you're referring to since the gomod buildpack isn't used in the general builder). We used to have the latter but it was [removed](https://github.com/GoogleCloudPlatform/buildpacks/commit/1d340e9cfb2fb2654f2b68472cf30f8098ca757f) due unbounded growth. We should look into this.

[2020-10-22 16:41] winmillwill commented on #83
@di seems like the issue is known, but here's a minimal example https://gist.github.com/winmillwill/8df0b9ae932dd20a2657641b7f9b36be

[2020-10-22 19:01] #64 closed

[2020-10-23 13:03] ottob opened #84 "Broken go cloud function builds"
Hello, [this commit ](https://github.com/census-instrumentation/opencensus-go/commit/fc3822be251c0e5c0d1b92bd51fabe401fe3c0bf) to `opencensus-go` seems to have broken go Google Cloud Function deploys for me. I understand that this is is probably not the correct place to report this but it was the best place I could find.

I started getting this error today when Im trying to deploy go cloud functio

[2020-10-23 13:07] ottob commented on #84
Im building using a `vendor` folder since I have private dependencies. I have deployed the same code previously without any issues.

[2020-10-23 14:19] Jofre commented on #84
Related: https://status.cloud.google.com/incident/cloud-functions/20006

[2020-10-23 14:31] ottob commented on #84
And: https://github.com/GoogleCloudPlatform/functions-framework-go/issues/56

[2020-10-23 14:31] #84 closed

[2020-11-04 21:21] di commented on #82
For posterity, the full command is: `docker run --entrypoint=<entrpoint> -i <image>`, and this now works with non-web `Procfile` named processes.

[2020-11-10 19:55] ahmetb opened #87 "Could not build C# sample image for gRPC due to project layout"
I am trying to build gRPC RouteGuide example project. https://github.com/grpc/grpc/tree/cc03415b78f8d562ccd9d7100c408fc65c013783/examples/csharp/RouteGuide

It has a tree structure as follows:

[code]

`RouteGuideServer` what I'm interested in building.

However, its  *.csproj file refers to `..\RouteGuide\RouteGuide.csproj`.

If I run `pack build` in `.` of this tree, it thinks it's ambiguous:

I

[2020-11-10 20:10] lukasberger commented on #87
`pack`, similarly to `docker` will only include the files in the current directory (or the directory specified by `--path`) in the build context. The project you link is structured in a way that requires the whole `example` directory to be accessible (`examples/protos` is pulled in somewhere). I was able to build the app with:

`pack build app -e GOOGLE_BUILDABLE=csharp/RouteGuide/RouteGuideServer

[2020-11-10 20:21] ahmetb commented on #87
Thanks for swift answer. Agreed, if `GOOGLE_BUILDABLE` was documented under .NET section in the README, I'd use it right away, my eyes looked for it.

[2020-11-10 20:23] lukasberger commented on #87
It's applicable to Go as well, so it's under the Common Options section: https://github.com/GoogleCloudPlatform/buildpacks#common-options. By the .NET section do mean the under "default entrypoint behavior"?

[2020-11-10 20:39] ahmetb commented on #87
I expected it under `Language-idiomatic configuration options` section. I didn't see #common-options while scrolling at all. :)

[2020-11-10 21:16] ahmetb commented on #87
Specifically at https://github.com/GoogleCloudPlatform/buildpacks/tree/d383a144ccb298a9202f4cd2ee5f8b83440d4985#language-idiomatic-configuration-options

[2020-11-13 02:35] adamzr commented on #78
This works, thanks!

[2020-11-13 02:35] #78 closed

[2020-11-13 02:39] adamzr opened #88 "Add Java Command Line Args At Runtime"
I want to add command line args to the entrypoint based on runtime environment variables. For example, right now my Java application runs as `java -classpath . org.springframework.boot.loader.JarLauncher`. I want to expose an environment variable to the Docker image called JAVA_OPTS and have the value of that added to that command. So, for example if JAVA_OPTS is set to `-javaagent:myagent.jar` th

[2020-11-15 18:33] jamesward commented on #88
I think you can do this by having a custom `Procfile` with something like:
[code]
Note that I used `JAVA_PARAMS` since `JAVA_OPTS` usually gets used for other things.

[2020-11-17 00:55] EatonZ opened #89 "Improve .NET version support/configuration"
Hi, can you add .NET 5 recognition? Even with the project file set up with `<TargetFramework>net5.0</TargetFramework>`, it still attempts to download v3.1.404.

The error message mentions I should override `GOOGLE_RUNTIME_VERSION`, but that's not preferable since I would need to keep track of it and update it on a (probably) weekly or monthly basis.

[2020-11-17 00:59] EatonZ opened #90 "New registry URL"
Hi, [Google Cloud Artifact Registry went GA today](https://cloud.google.com/blog/products/devops-sre/artifact-registry-is-ga).

[The readme](https://github.com/GoogleCloudPlatform/buildpacks/blob/main/README.md) should be updated with the new `pkg.dev` domain (replacing `gcr.io`) whenever you start uploading to the new Artifact Registry.

[2020-11-18 12:10] mmanciop opened #91 "Integration of 3rd party buildpacks"
At Instana we are working on a Cloud-Native buildpack, called instana buildpack, for CloudRun.

The instana buildpack itself is pretty straightforward (albeit not yet published) and we love that it entirely automates the task of adding the Instana collectors.

However, the user experience of having the instana buildpack not automatically considered by the builder is less than great: to our underst

[2020-11-18 15:21] jamesward commented on #91
cc @jkutner

[2020-11-18 19:19] jromero commented on #91
Hi @mmanciop,

A `pack` maintainer here. This is possible via an (apparently) undocumented option [`--buildpack from=builder`](https://github.com/buildpacks/pack/pull/450).

Some example commands:

[code]

vs

[code]

_NOTE: Eventually this will [move to URIs](https://github.com/buildpacks/pack/issues/765)._

[2020-11-18 20:20] mmanciop commented on #91
Oh, this is a great undocumented feature, thanks!

[2020-11-18 20:20] #91 closed

[2020-11-19 08:05] Claus1 opened #92 "Failure: (ID: 194879d1) Failed to run /bin/build: for Python, an entrypoint must be manually set.."
My app.yaml for python app:
[code]
I got:
[code]

I use asyncio directly, maybe I have to use flask, gunicorn for running my app?

[2020-11-19 15:59] di commented on #92
You either need to specify an entrypoint via the `GOOGLE_ENTRYPOINT` environment variable:

[code]

Or via a `Procfile` in the root of your build directory:

[code]

[2020-11-20 16:26] Claus1 commented on #92
I made Procfile but in 3+ hours the deployment is not finished. What I have to do?

[2020-11-20 17:41] di commented on #92
Can you include more details? How/where are you attempting to deploy this?

[2020-11-20 18:10] Claus1 commented on #92
I use CloudeRun, from sources, with app.yaml and Procfile as described above. My app http port is 1235 and I set it in setting form, which appears before starting, and 1234 websocket port which I have no idea where to set for my non-flask case. But the app has to start if CloudRun does not lock undeclared ports..

[2020-11-20 19:04] di commented on #92
Can you share the command you're running to deploy?

[2020-11-21 03:57] Claus1 commented on #92
The command is generated by CloudRun. The Cloud Build page does not allow to copy the command, it is not visible in the page elements. Only pic:
![scr](https://user-images.githubusercontent.com/1247062/99866923-de2f1780-2be7-11eb-985b-6f1466367acc.png)

[2020-11-25 10:46] Claus1 commented on #92
That string did not come to log but the status table.

I still don't know how to set ports for 1234 websocket port and 1235 http resource port using Procfile (or/and app.yaml). Did not find it in the doc. Hope it is possible..

[2020-11-25 17:03] di commented on #92
Cloud Run does not support inbound requests to websockets: https://cloud.google.com/run/docs/issues#grpc_websocket

It also doesn't support exposing multiple ports: https://stackoverflow.com/questions/61355416/expose-both-ports-8080-and-3000-for-cloud-run-deployment

I think at this point, these problems are not related to buildpacks and this issue should be closed, but please feel free to ask sim

[2020-11-25 18:13] Claus1 commented on #92
Omitting websocket support is weird. But ok. Thanks!

[2020-11-25 18:16] #92 closed

[2020-12-01 00:05] steren commented on #24
Cloud Run customers are looking at using GCP Buildpacks for Ruby and PHP (via Cloud Run's continuous deployment from git feature, or deploy from local source feature). Notably in order to migrate from App Engine.

[2020-12-03 15:20] briandealwis commented on #88
Just in case you're looking to do this because of difficulty in passing in arguments in the past…

We recently updated the GCP Buildpacks to use Cloud Native Buildpacks `lifecycle` 0.9 / Platform API 0.4 which reworks how processes are represented.  Buildpacks-built images now behave like normal container images, such that you you can just provide command-line arguments using the normal mechanisms

[2020-12-03 15:24] briandealwis commented on #62
Closing.  We could maybe create a buildpack that would attempt to interpret a subset of the dockerfile directives, such as running some of the RUN directives, but it would be a poor experience.

[2020-12-03 15:24] #62 closed

[2020-12-03 22:11] adamzr commented on #88
Thanks that's good to know.

I found that for Java I could use `JDK_JAVA_OPTIONS` and it got picked up correctly. I'll stick with that for now.

[2020-12-03 22:11] #88 closed

[2020-12-10 17:30] EatonZ commented on #89
@lukasberger Have you given any thought to this yet? If you want to keep .NET Core 3.1 LTS the default, perhaps a new option, such as `GOOGLE_USE_LTS`, can be introduced so people can signal they want to use the latest, non-LTS .NET versions. .NET Core 3.1 is LTS and .NET 5 is not. .NET 6 will be LTS though - they are LTS'ing every other release.

[2020-12-12 00:35] steren opened #94 "Fail to run TF.JS"
I was trying to deploy [this sample](https://github.com/juandes/tf-js-examples/tree/main/node-od-service)

package.json:
[code]
index.js
[code]

But when deployed to Cloud Run, I see this error at startup:
`"Error: The Node.js native addon module (tfjs_binding.node) can not be found at path: /workspace/node_modules/@tensorflow/tfjs-node/lib/napi-v6/tfjs_binding.node."`

This is not an error I get

[2020-12-14 16:39] pyu10055 commented on #94
This could be related to the node and napi version of GCP buildpacks. can you provide the default node and napi versions?

[2020-12-14 19:05] lukasberger commented on #94
It looks like the issue is that tensorflow requires Python to be available at compile time, but we don't include it with our builder image. For some reason `npm` does not emit any warnings, even in verbose mode. Interestingly, for Node.js 10, for which prebuilt binaries are not available, the logs contain a failure message from `node-gyp` about missing Python installation, but the install command

[2020-12-15 16:51] picaoao opened #95 "pack build fails ... maybe because of not excluding files like in cloud build using .cloudignore"
I'm able to deploy the function in google (cloud functions) but I can't build the container using pack.

Nevertheless to do the deploy in cloud I need to add a `.cloudignore`:

[code]

... and I need to exclude `_test` files because they live in a different package and I need to exclude `go.mod` and `go.sum` and generate a `vendor` folder because I have private repositores and dependencies and the

[2020-12-15 17:12] lukasberger commented on #95
Support for `.gcloudignore` is implemented in the `gcloud` CLI and the exclusions happen at upload time outside of the buildpacks build context. If you're using `pack` to build the image locally, the way to specify exclusions would be using [`project.toml`](https://buildpacks.io/docs/app-developer-guide/using-project-descriptor), for example:

[code]

[2020-12-15 17:27] picaoao commented on #95
It works ! Thanks for the help !

[2020-12-15 17:27] #95 closed

[2020-12-16 20:39] ahmetb opened #96 "Node: failed dependency install is ignored"
Minimal repro: https://github.com/ahmetb/tfjs-cloudrun/tree/e47b2a9

This app works fine locally.

However while it's building on GCB, installing `@tensorflow/tfjs-node` dep fails, **but this is ignored**, leading to random module to be "not found" during execution.

package.json:

[code]

relevant error log stmts from `pack`:

[code]

Full logs: https://gist.github.com/ahmetb/1be3137c8a8be45169f0

[2020-12-16 20:43] ahmetb commented on #96
This might be a false alarm.

I get the same errors **without pack**, by using a Dockerfile, but `npm install` succeeds.

Closing for now.

[2020-12-16 22:54] lukasberger commented on #96
Is this a duplicate of https://github.com/GoogleCloudPlatform/buildpacks/issues/94?

[2020-12-16 23:25] ahmetb commented on #96
@lukasberger yes.
cc: @steren

From my experimentation, the problem is with node-gyp or TFJS. You have to have Python in the build env to be able to `npm install` the tfjs package.

I ended up writing a Dockerfile to workaround the problem, but I opened an issue https://github.com/tensorflow/tfjs/issues/4419 because the build should not succeed.

[2020-12-16 23:37] pyu10055 commented on #94
someone created this docker file that seems to work:

[code]

[2020-12-17 00:04] ahmetb commented on #94
I copied that dockerfile from tf.js's own repo that's used to build tf.js itself. It's probably an overkill. I see tf.js has a fallback logic when python doesn't exist, but it 404s. See #96 logs.

[2020-12-17 22:16] steren commented on #94
Over chat, we found it acceptable to add `python` to the builder image (not the runtime image), which would solve this issue, right?

[2020-12-17 22:56] ahmetb commented on #94
Yes, it seems to be working without Python in the final image.

To test this, I made a new stage in the Dockerfile above and copied over the app directory with the populated `node_modules` after "npm install" to a clean image:

[code]

It reduces container image from 1.05GB to 637MB.

[2020-12-18 00:12] #94 closed

[2020-12-21 08:23] msakirc commented on #58
Hello, I am still getting this error, this is my build log:

[code]

[2020-12-21 14:52] briandealwis commented on #58
@msakirc that error usually indicates that the interpreter in the script's shebang (`#!/xxx/yyy`) couldn't be found.  The `mvnw` should normally be `/bin/sh`.

Is this log from using `gcloud app`?  If so, could you please open an issue on the [Google Public Issue Tracker](https://issuetracker.google.com/issues/new?component=187191) with more details as to how to reproduce?

[2021-01-07 00:02] steren opened #99 "Evaluate if `Main-Class` in `Manifest.txt` can be used to determine Java entrypoint"
See https://docs.oracle.com/javase/tutorial/deployment/jar/appman.html

It seems that there exist an additional idiomatic way to define the entrypoint of a Java app.

[2021-01-07 00:03] steren commented on #99
CC @ludoch @glaforge

[2021-01-07 00:12] ludoch commented on #99
Is it not done in:

https://github.com/GoogleCloudPlatform/buildpacks/blob/cb5b92639ded8fd161629cb3a1dc3d0fb00cc066/pkg/java/java.go#L45

// ExecutableJar looks for the jar with a Main-Class manifest. If there is not exactly 1 of these jars, throw an error.

[2021-01-07 00:14] steren commented on #99
I assume you mean "now" instead of "not"?

If it's supported, please document it [here](https://github.com/GoogleCloudPlatform/buildpacks#language-specific-behavior)

[2021-01-07 00:22] ludoch commented on #99
See https://github.com/GoogleCloudPlatform/buildpacks/blob/58e6045476f951cdada4423b86369eb6214b6002/README.md#language-specific-behavior

[2021-01-07 00:23] steren commented on #99
Ah right it's already there.

[2021-01-07 00:23] #99 closed

[2021-01-14 21:48] grayside opened #100 "Clarify supported languages"
The README has long lists of languages with options, such as https://github.com/GoogleCloudPlatform/buildpacks#language-idiomatic-configuration-options which includes PHP. This led me to think PHP was supported.

Expected: Languages supported are clearly listed, languages that are in progress are not prominently featured in the main user README.

[2021-01-15 00:02] lukasberger commented on #100
PHP is supported in App Engine and Cloud Functions. If you use those builders with pack, you should be able to configure them as outlined in the section you linked.

For the general builder that's used in pack and Cloud Build, the supported languages are listed here: https://github.com/GoogleCloudPlatform/buildpacks#general-builder-and-buildpacks. Is that what you're looking for?

[2021-01-15 18:54] opinijm opened #101 "Could either $GOROOT be made available or the go executable be in $PATH"
I'm trying to deploy a go application without a docker file for the default behavior specified. It's set up so that the actual main is run indirectly to give the container a chance to generate some proto code first during deployment. However this indirect run fails because it can't find the go executable. I would love to be able to do this without messing with the GCP configs or download an entire

[2021-01-17 01:40] opinijm commented on #101
I ended up just adding the common go paths to $PATH ¯\_(ツ)_/¯ Closing this as I know you folks are probably busy doing other things!

[2021-01-17 01:40] #101 closed

[2021-01-20 15:43] jkutner opened #103 "Publish Google Buildpacks to the Buildpack Registry"
We'd love to see the Google Buildpack in the [Buildpack Registry](https://github.com/buildpacks/rfcs/blob/main/text/0022-client-side-buildpack-registry.md). The Buildpack Registry is in preview, and will soft launch later this month.

Three things need to be done to get the Google buildpack into the registry:

1. Package the Google buildpacks with the [`pack buildpack package`](https://buildpacks.

[2021-01-22 06:28] SHackauf opened #104 "dotnet publish options via gcloud functions deploy"
I would like to add some publish options to the dotnet build run. I saw that the GOOGLE_BUILD_ARGS property exists but it does not work for DOTNET applications.

Example:
GOOGLE_BUILD_ARGS: "-p:Version=1.0.1.0 -p:FileVersion=1.0.1.0"

[2021-01-22 20:16] #104 closed

[2021-01-26 09:25] josheluis96 commented on #58
Solucione el problema eliminando el archivo mvnw y luego ejecutando el comando "gcloud app deploy" --- Windows 10

[2021-01-26 18:54] briandealwis commented on #58
That works too @josheluis96 :-)

[2021-01-27 11:24] jskeet opened #105 "Working directory in dotnet3 functions is unhelpful in multi-project functions."
Originally reported as https://github.com/GoogleCloudPlatform/functions-framework-dotnet/issues/192

We use GOOGLE_BUILDABLE to support multi-project functions for the .NET Functions Framework.

This works, in that it:

- Builds the specified project
- Allows for project dependencies
- Invokes the right function at execution time

However, the working directory is set to `/workspace` which corresp

[2021-01-29 10:11] benjaminhuo opened #106 "Failed to build function with tekton"
I am able to build sample functions https://github.com/OpenFunction/function-samples with the following command , `google.go.functions-framework` is detected correctly:

[code]

But when I use tekton to build the same function with `gcr.io/buildpacks/builder:v1`, `google.go.functions-framework` cannot be detected even after I add correct function environment to tekton tasks:

[code]

[code]

The t

[2021-01-29 14:53] jamesward commented on #106
It seems like the env vars are not being passed correctly. You could try to set those via a `project.toml` file instead:
https://buildpacks.io/docs/reference/config/project-descriptor/

[2021-01-29 20:14] #105 closed

[2021-01-30 04:11] benjaminhuo commented on #106
@jamesward It's a tekton setting issue, and it's fixed following the method described in https://github.com/buildpacks/tekton-integration/issues/4

[2021-01-30 04:12] #106 closed

[2021-01-30 15:56] haroldlbrown opened #107 "Builder gcr.io/buildpacks/builder:v1 not compatible with Yarn 2 (aka Yarn Berry)?"
I have created a new [NestJS](https://github.com/nestjs/nest) application using [Yarn](https://yarnpkg.com/). It's code can be found here: https://github.com/bervol/yarn-nestjs-poc/commit/d654fb0dc36a1d47a1802bf32271def78bcb4e71
I am using [Yarn Berry](https://yarnpkg.com/getting-started/install#per-project-install) (aka Yarn 2) with the [Zero-Installs](https://yarnpkg.com/features/zero-installs)

[2021-02-01 22:12] EatonZ commented on #90
Is anyone able to comment on when this may happen?

[2021-02-01 22:41] lukasberger commented on #90
We don't have any concrete plans at the moment. Are there specific features you're looking for that GCR doesn't offer?

[2021-02-01 22:43] EatonZ commented on #90
No, I just would like to know when it happens so I can update the domain in my code.🙂

[2021-02-09 04:54] benjaminhuo commented on #106
Solved by https://github.com/buildpacks/tekton-integration/issues/4

[2021-02-22 12:35] picaoao opened #109 "use of vendored package not allowed"
I'm using go 1.13.15 with Modules and I'm trying to deploy a cloud function but I get an error.

Because I've private dependencies I'm generating a `vendor` folder and using the `.gcloudignore` file to be able to deploy the function, according to the [guide](https://cloud.google.com/functions/docs/writing/specifying-dependencies-go)

However when trying to deploy I'm now getting the following erro

[2021-02-24 18:39] picaoao commented on #109
closed by https://github.com/GoogleCloudPlatform/functions-framework-go/issues/65

[2021-02-24 18:39] #109 closed

[2021-02-26 18:24] jromero opened #111 "Update lifecycle version to 0.10.2"
I'll be trying to update the Cloud Native Buildpacks [Tekton tasks and pipelines](https://github.com/buildpacks/tekton-integration) to support [Platform API 0.5](https://github.com/buildpacks/spec/releases/tag/platform%2Fv0.5) (https://github.com/buildpacks/tekton-integration/issues/21). To ensure that the Google builders continue to work with the Tekton tasks and pipelines I'd like to request tha

[2021-03-01 20:11] #111 closed

[2021-03-04 21:44] j-windsor opened #112 "Buildpacks produces `linux/amd64` images on `linux/arm64/v8` (M1 Mac) machines."
Repro steps:
1. use [cloud code go hello world sample](https://github.com/GoogleCloudPlatform/cloud-code-samples/tree/master/golang/go-hello-world).
2. run `pack build hello-world-go --builder gcr.io/buildpacks/builder:v1 --path ./`. It will build successfully.
3. run this (below). Note that the image runs successfully on an M1 Mac even though the platform is very different.
[code]
4. run `docker

[2021-03-04 22:45] briandealwis commented on #112
Buildpacks does not yet support building for linux/arm64 yet.

https://github.com/buildpacks/lifecycle/issues/435

[2021-03-11 09:20] jskeet opened #113 "Feature request: support already-built dotnet3 code"
Customers want to be able to run `dotnet publish` themselves within their CI/CD pipeline and use the artifacts from that for testing etc, and then deploy those artifacts to Google Cloud Functions (etc) without having to upload the source code and rebuild it.

This is a little like the Java support for deploying existing jar files.

The buildpack could check for the presence of `Xyz.deps.json` and

[2021-03-11 21:39] ImJasonH opened #114 "Run image is tagged :v1 for every commit to this repo"
It looks like this repo's CI builds and pushes a new unique run image as `:v1`, for every commit.

See https://console.cloud.google.com/gcr/images/buildpacks/GLOBAL/gcp/run?gcrImageListsize=30 -- the `:v1` tag has previously pointed to every commit-tagged image listed there.

This is a bit surprising, since many commits to the repo don't actually include any changes which should affect the run ima

[2021-03-11 23:35] lukasberger commented on #114
This is a known issue/working as intended. The Cloud Build config we use to produce these images is [here](https://github.com/GoogleCloudPlatform/buildpacks/blob/main/tools/cloudbuild/create_builder.yaml) and is run on every commit.

The images have apt packages that we want updated to their latest versions as often as new versions are available to pick up security patches. I briefly looked into b

[2021-03-18 04:21] mmudiamme opened #115 "With spring-cloud-gcp-starter-secretmanager Spring Boot Fails to start with Could not find TLS ALPN provider; no working netty-tcnative"
With spring-cloud-gcp-starter-secretmanager Spring Boot Fails to start with Exception : Could not find TLS ALPN provider; no working netty-tcnative

Exception from start Logs:

org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'secretManagerClient' defined in class path resource [org/springframework/cloud/gcp/autoconfigure/secretmanager/GcpSecretManagerBootstra

[2021-03-19 16:03] mmudiamme opened #116 "Cloud SQL Proxy Support for the image built by Build Pack"
An Example Project from GoogleCloudPlatform
https://github.com/GoogleCloudPlatform/gke-cloud-sql-postgres-demo

[2021-03-24 22:05] jamesward opened #119 "Java Functions Framework Fails with `mvnw`"
[code]

It used `mvnw` correctly, but then fails when it tries to use `mvn`.

Reproducible project: https://github.com/GoogleCloudPlatform/buildpack-samples/tree/functions-framework-java-mvnw/sample-functions-framework-java-mvn

[2021-03-24 23:41] matthewrobertson commented on #119
I can look into this.

[2021-03-25 00:21] matthewrobertson commented on #119
It looks like [this is the issue](https://github.com/GoogleCloudPlatform/buildpacks/blob/main/cmd/java/functions_framework/main.go#L117). We should check if `./mvnw` exists that same as [we do in java/maven/main.go](https://github.com/GoogleCloudPlatform/buildpacks/blob/10f6e4f050380c3a16bfdebcd601876b97373fde/cmd/java/maven/main.go#L77:L78)

[2021-03-25 16:20] chids opened #120 "Buildpack should detect and support varying Maven artifact names"
If one overrides Mavens default behaviour by explicitly specifying a different name for the final artifact...
[code]
...the build fails with...
`Failure: (ID: 23937578) expected output jar target/blah-1.0.0-SNAPSHOT.jar does not exist`
...as the buildpack is [currently hardcoded](https://github.com/GoogleCloudPlatform/buildpacks/blob/a9ec3c1600ec66521274abd1433a499227c9128e/cmd/java/functions_fram

[2021-03-25 23:31] DGollings opened #121 "default process web - network race condition?"
Local microk8s with Linkerd enabled

First time using buildpack, knowing it has some hardening features. Configured it all using skaffold and enabled dev mode

Containers come up nicely, no health issues, no crashes.
But nothing works network wise, or sometimes it does, but then it stops working. 'Randomly'

exec into container, nothing, nothing listening on port 8080 nor ps. But not knowing the h

[2021-03-26 14:17] DGollings commented on #121
update:
GOOGLE_ENTRYPOINT=sleep 2;/layers/google.go.build/bin/main

breaks devmode, it does sync but there are no live rebuilds of Go code

and after having pasted time.Sleep and net.Dial all over the buildpack codebase its clear to me that I have no idea how either bazel or buildpacks works (quite likely both) :)

on the upside, I've found an easy workaround in dev mode. Just trigger a code chang

[2021-03-30 23:13] #119 closed

[2021-04-01 21:05] tummalah opened #123 "ERROR: failed to detect: no buildpacks participating for Nodejs apps"
Hi,
I am trying to run a nodejs build but seems the builder does not recognize the app. I am able to see that package.json exists in the path.

ERROR: failed to detect: no buildpacks participating
ERROR: failed to build: executing lifecycle: failed with status code: 100

[2021-04-02 01:03] jamesward commented on #123
Can you run `pack -v ...` to get more details and share them here?  Also have you tried this on the node sample: https://github.com/GoogleCloudPlatform/buildpack-samples/tree/master/sample-node

[2021-04-02 01:55] tummalah commented on #123
@jamesward This got resolved after updating pack. Thanks so much!!

[2021-04-03 10:17] cage1016 opened #124 "runtime image support zoneinfo"
Hi, folks

Try to migrate build k8s container image from DockerFile to buildpack scenario in CI/CD pipeline. Everything does well but seems that container image does not include **/user/share/zoneinfo.**

Inpsect container image delivered by builder `gcr.io/buildpacks/builder:v1` and other builders (`paketobuildpacks/builder:tiny`).

[code]

Run image `gcr.io/buildpacks/gcp/run:v1` does not contai

[2021-04-04 16:20] #123 closed

[2021-04-05 04:27] briandealwis commented on #121
Inserting random sleeps is unfortunately a non-starter.  But we would like to make this rebuild script a bit more configurable.

In the meantime, it looks like you could [disable Linkerd's injection](https://linkerd.io/2.10/features/proxy-injection/) and instead perform it manually and add a [container lifecycle post-start hook to wait for the proxy](https://github.com/linkerd/linkerd2/issues/2704

[2021-04-05 08:35] DGollings commented on #121
no of course no :)t, I was trying to figure out what part of the buildpack code is running a near instant `go mod download`

Thanks for your suggestions, I'll have a look. However, part of their solution is part of what i"ve been doing for months (and had forgotten about): wait/check for network connectivity during application boot.
(the ['linkerd await'](https://github.com/linkerd/linkerd-await)

[2021-04-07 19:49] #124 closed

[2021-04-08 01:05] tummalah opened #125 "Updating certificates in /etc/ssl/certs... ln: failed to create symbolic link '/etc/ssl/certs/ZZZZ.pem': Permission denied"
Testing out node project from SampleBuildpacks

pack build sample-node --path .  --env GOOGLE_ENTRYPOINT="update-ca-certificates && no
de web.js"
latest: Pulling from buildpacks/builder
Digest: sha256:a3dd3295f9999bb70de339521d948128a08600d87a5145206f0f4657acb30afc
Status: Image is up to date for gcr.io/buildpacks/builder:latest
v1: Pulling from buildpacks/gcp/run
f5f4dd109182: Already exists
3eac

[2021-04-09 22:46] tummalah commented on #125
Work around this issue with Node env flag. But, would be nice if CNB comes up with some spec.
[code]

[2021-04-12 15:29] jamesward commented on #11
I have a new sample for this at:
https://github.com/GoogleCloudPlatform/buildpack-samples/tree/master/sample-node-tsc

Because it is pretty common to use `devDependencies` to build the application, I think the buildpack should do something like the following by default:
1. Install `devDependencies`
2. The `postInstall` script then runs with `devDependencies`
3. The deps only in `devDependencies` (

[2021-04-15 23:53] vinayluzrao opened #126 "Correct path to mount volumes into the builder image?"
My source code directory has a symlink that points to a path not contained in its subtree. Therefore, when I try building, the symlink that is copied into the builder is dead (dangling). To solve this, I thought of using the `--volume` flag, of the `pack build` command, to copy over the directory that my symlink references:

[code]

But, I don't know the correct `target path` for the command, and

[2021-04-15 23:55] vinayluzrao opened #127 "Is it possible to resolve symlinks during the builder image's `COPY`ing of the source code?"
My source code directory has a symlink that points to a path not contained in its subtree. This is because I have a monorepo, and I share code between projects with symlinks. Therefore, when I try building, the symlink becomes dead (dangling) after being copied into the builder.

A solution that would work is to resolve the symlink as the builder image's `COPY`ing of my source code happens; is thi

[2021-04-16 15:50] iamacarpet commented on #24
Thanks @steren ,

As one of these customers, we've managed to use the App Engine buildpack images to get running on GCR:

Taken from: gcr.io/gae-runtimes/buildpacks/php74/builder

https://github.com/a1comms/GaeSupportLaravel/blob/php7.4-laravel6.0/docs/examples/laravel/buildpack-cloud-run/cloudbuild_LIVE.yml

It's a little frustrating the way things are tagged when trying to find the latest versio

[2021-04-16 18:11] steren commented on #24
I'm an personally advocating internally for this issue to be picked up. It is not intended for customers to have to use the undocumented GAE buildpacks.

[2021-04-16 18:34] iamacarpet commented on #24
Thanks @steren , really appreciate that!

We’ve spoken a lot to Matt L about it too, but I get the impression his team don’t own these buildpacks either.

Can you divulge what the ownership structure looks like?

Is it Matt S, since he presented the demo vid at NEXT?

[2021-04-16 19:49] steren commented on #24
I can confirm that the right owners are aware of the request.

[2021-04-19 18:37] lukasberger commented on #127
I believe `pack` volumes are just Docker volumes under the hood and IIRC Docker volumes don't support symlinks. (I assume you're using pack based on the other issue you filed.)

The repo for the pack tool is https://github.com/buildpacks/pack, please open an issue in that repo for feedback from the maintainers.

[2021-04-19 18:37] #127 closed

[2021-04-19 21:09] vinayluzrao commented on #126
I had assumed it relates to this repo because I thought that each builder implementation has their own working directory structure. And so, if you want to mount a volume, you have to know where the source code is located so that the volume is referenced properly. Is that not the case?

[2021-04-19 22:13] lukasberger commented on #126
No, that's not the case. The platform (pack in this case) specifies the the working directory through CNB_APP_DIR (see https://github.com/buildpacks/spec/blob/main/platform.md).

The working directory is also typically mounted as a volume, so you will have to choose a different directory to mount the second volume as.

[2021-04-28 01:21] wescpy commented on #45
Fast-forward almost a year later with the addition of `gcloud run deploy --source .`, and we're in a similar situation, alas with the better messaging per David. However, unless you're a DevOps person, I don't know how likely a normal Python developer runs into `Procfile`s or know what they are (for).

FWIW, with App Engine, you can delete all your `handlers` in `app.yaml` and provide an [`entrypo

[2021-04-28 08:50] tpiperatgod opened #128 "Whether the buildpacks-builder should support alternative download urls for program resources?"
When I build go language function the following steps will do access to internet and downloading resources from it:
1. download the go language program from ```goURL``` in ```runtime``` buildpack
2. query and download go dependency packages with ```goproxy``` environment(go version >= 1.15)(can be found in ```functions_framework``` and ```build``` buildpacks)

I cannot build function image while m

[2021-04-30 00:02] dmitry-mightydevops opened #129 "Unable to detect node.js (python runtime is used instead)"
[code]

The structure of the repository:

[code]
**project.toml**

[code]

There is no python code in the repository at all, yet a PYTHON buildbpack is detected

[2021-04-30 01:55] dmitry-mightydevops commented on #129
the following is set inside the container:

[code]

[code]

[2021-04-30 15:02] jamesward commented on #129
Does it make a difference if you remove the `project.toml` file?

[2021-04-30 15:13] lukasberger commented on #129
As a workaround, you can add `GOOGLE_RUNTIME=nodejs` to `project.toml`.

Would you mind running `pack build` with the `-v` flag to see why buildpacks are opting out?

As to running `detect` directly, the binary must run from the app directory (i.e. /workspace/app in your case) according to the [spec](https://github.com/buildpacks/spec/blob/main/buildpack.md#detection).  The buildpack looks for `pa

[2021-04-30 21:07] dmitry-mightydevops commented on #129
So what I did is
1. Removed project.toml - no effect, still it detects python files
2. Put GOOGLE_RUNTIME=nodejs into project.toml - no effect
3. Set CNB_LOG_LEVEL=debug and saw various output
4. I had to run `npm run build` inside tekton pipeline, and then run

[code]

That has immediately identified nodejs runtime buildpack.

Then I did this

[code]

and it again compiled with nodejs runtime bui

[2021-04-30 21:13] jamesward commented on #129
Can you run the `pack build` again but with a `-v` flag so we can see the detection results?

[2021-04-30 21:38] dmitry-mightydevops commented on #129
[code]

[2021-04-30 21:48] jamesward commented on #129
L
So https://github.com/GoogleCloudPlatform/buildpacks/blob/10f6e4f050380c3a16bfdebcd601876b97373fde/cmd/python/runtime/main.go#L50
Is matching but this seems like maybe a bug since just having a `.py` file somewhere in the source tree shouldn't trigger it being a python project.  Does it make a difference if you delete the `dist` and `node_modules` dirs? (since those likely shouldn't be there bef

[2021-04-30 21:53] jamesward commented on #129
I'd say bug.  But I'd also say that you shouldn't run buildpacks on a node project that already has a `node_modules` dir since the buildpack is supposed to do the `npm install`.

[2021-04-30 21:55] dmitry-mightydevops commented on #129
yes clear, it's just that I did install with `npm install` prior to running the pack build. So I have a question

[code]

this removes the `node_modules` from the resulting image entirely? Or does it skip the searching for files in the folder?

[2021-04-30 21:59] jamesward commented on #129
Docs say exclude from build but I'm not sure if that also means detect:
https://buildpacks.io/docs/reference/config/project-descriptor/#build-_table-optional_

[2021-04-30 22:08] dmitry-mightydevops commented on #129
ok, should I keep this issue as open or close it?

[2021-04-30 22:09] jamesward commented on #129
Let's keep it open.  To summarize, a .py file anywhere in the source tree shouldn't make the python buildpack pass detection.

[2021-05-03 22:11] steren opened #132 "Document that `engine.node` in `package.json` is used to specify Node.js version"
I assume we look at `engine.node` in `package.json` to pick the proper Node.js version in an idiomatic way.

This is not documented in the `README`.

[2021-05-03 22:55] steren commented on #132
(the same comment applies to any language-specific behavior that GCP buildpacks use to pick up proper language version)

[2021-05-06 21:40] nikcorg opened #133 "Application of `GOOGLE_GOLDFLAGS`"
I'm using pack to build a project and I'm using the `GOOGLE_GOLDFLAGS` to override some package variables, namely version, build time etc. However this isn't having the desired result, as the overrides aren't happening.

Here's a minimal example to reproduce:

Using go 1.16

[code]

[code]

Building:

[code]

Serving:

[code]

Actual output:

[code]

Expected output:

[code]

Environment:

[code]

[2021-05-06 22:10] nikcorg opened #134 "Using `GOOGLE_BUILDABLE` in multi-handler Golang project"
I have a project which in a single codebase contains several handlers that share common code. The layout is roughly like:

[code]

Where `/common` contains shared code and the other directories the various handlers.

Building ends with the error "Unable to extract package name: unable to find Go package in /workspace/serverless_function_source_code".

I've attempted several variations of the value

[2021-05-10 11:28] nikcorg commented on #133
Yes, I can see that in the echoed command line in the build output, but the observed effect is in disagreement. The `-X` flag overrides static values on the referenced variable (see e.g. [Inject build-time variables with Golang](https://blog.alexellis.io/inject-build-time-vars-golang/)). In my example the `buildTime` variable in the `beepboop` package should have its value set to the output of the

[2021-05-10 12:02] nikcorg commented on #133
You did inspire me to experiment with different ways of quoting the `GOOGLE_GOLDFLAGS` value. So far I've attempted:

[code]

All are equally ineffectual and the outcome is invariably the same as in my first example. Considering the value is [appended as is](https://github.com/GoogleCloudPlatform/buildpacks/blob/10f6e4f050380c3a16bfdebcd601876b97373fde/cmd/go/build/main.go#L143) the extra quoting

[2021-05-10 12:21] nikcorg commented on #133
This was indeed a PEBKAC. Using the fully qualified import path and not just the package name was the key.

[2021-05-10 12:21] #133 closed

[2021-05-10 19:52] briandealwis commented on #129
When should a .py file cause the python buildpack to pass?

[2021-05-10 20:14] dmitry-mightydevops commented on #129
I would say we should skip detection for python buildpack if .py file is found inside `node_modules` directory.

[2021-05-11 13:42] nikcorg commented on #134
`GOOGLE_FUNCTION_TARGET` is what I used as my workaround for now, sticking all my handlers in a single top-level package. The side-effect of having to bundle everything in a single package, means that the binary will include source code that will never be used.

Just to clarify to avoid any misunderstandings, my desire is to be able to have each handler in their own package.

[2021-05-11 16:02] cage1016 opened #135 "cloudb build `gcr.io/k8s-skaffold/pack` got invalid cross-device link ERROR with custom buildpack"
error message

[code]

Try to build  [GoogleCloudPlatform/buildpack-samples](https://github.com/GoogleCloudPlatform/buildpack-samples/tree/master/sample-go) with custom buildpack  [registry.buildpacks.io/buildpacks/cage1016/jq-cnb](https://registry.buildpacks.io/buildpacks/cage1016/jq-cnb)

[code]

pack build with custom buildpack does work as expect locally and github action. But ONLY got invalid

[2021-05-12 14:01] briandealwis commented on #125
@tummalah could you please describe your usecase: what are you trying to accomplish and why?  Where do the certs come from?  Are they replacements for installed certificates, or should they be added to the system's list?

[2021-05-12 14:10] tummalah commented on #125
hi @briandealwis  I was trying to install Enterprise root cert generated inside the Enterprise into the CA store of the runtime container. This is required because we are using custom CA certs and sometimes self signed certs.  It would be nice if build pack support mounting the certs during runtime or during build time.

[2021-05-12 15:04] briandealwis commented on #135
This seems to be a bug in `pack` where it creates a cache in `$TMPDIR` and then attempts to move it into place, which fails as `$TMPDIR` and `/builder/home` are on different file systems.

You can make this work with an `env` stanza as follows:
[code]

This ensures the temporary directory created by `pack` is placed alongside the eventual destination.

[2021-05-12 15:05] briandealwis commented on #135
Closing as `invalid` since this isn't actually an error in GCP Buildpacks.

[2021-05-12 15:05] #135 closed

[2021-05-12 23:22] cage1016 commented on #135
@briandealwis Thank you for helping

[2021-05-13 01:06] cage1016 commented on #135
Hi, Brian

Thank you for helping.

On Wed, May 12, 2021 at 11:06 PM Brian de Alwis ***@***.***>
wrote:

--
kaichu := &Geek{
  name: "鍾凱竹, Kai-Chu Chung",
  email: ***@***.***",
  hugo: "http://kaichu.io",
}
fmt.Println(kaichu)

[2021-05-13 16:45] jamesward commented on #129
One option is to apply the `.gitignore` as default build excludes.  This would also help with congruence between local run & CI run.  Not sure if this should just be in `pack` though.

[2021-05-18 22:39] #120 closed

[2021-05-19 17:42] briandealwis commented on #129
We received a report of a user's python project being detected as a dotnet project.  I'm trying to confirm details, but they said that they added a venv.   I'm guessing that we're finding a `.dll`.
https://github.com/GoogleCloudPlatform/buildpacks/blob/e962ff0ffb981a1fc439ed326f24e4bef80ec65c/cmd/dotnet/runtime/main.go#L56

[2021-05-19 17:49] briandealwis commented on #129
So it feels like we have a few top-level directories that should be filtered out, some conditionally:
- `node_modules` if there is a `packages.json`
-  `.venv`
-  `build/` if there is a `build.gradle` or `build.gradle.kts`
- `target/` if there is a `pom.xml` or `.mvn` directory
- `vendor` if there is a `go.mod` (?)

[2021-05-19 18:48] briandealwis commented on #129
Heard back about the python project being mistaken for dotnet.  They were developing a python project using `venv`.  Their `requirements.txt` included `ptvsd` (required for debugging with VSCode).  So this causes the following .dlls to be installed (regardless of platform):
[code]

[2021-05-20 18:30] mgrand-softvision opened #136 "Building .NET Core 5 Services containing multiple projects"
I apologize  this is the wrong place to post questions about using build packs. I was unable to find a more clearly appropriate forum.

I and a developer who is working for me (@oanaticu-softvision) have a question about using the buildpacks to build .NET core 5 based microservices written in C#. For a variety of reasons, we would like to structure some of our services into multiple projects. Ther

[2021-05-20 18:42] lukasberger commented on #136
This sounds similar to https://github.com/GoogleCloudPlatform/buildpacks/issues/87. Does the `GOOGLE_BUILDABLE` environment variable help here?

[2021-05-20 19:08] mgrand-softvision commented on #136
Thank you. We will give  it a try.

Mark Grand

Platform (Software+Cloud+Database) Architect / Tin Roof Studio

Mobile: +1 (404)925-8265

www.cognizantsoftvision.com

<https://www.facebook.com/softvisionusa/>

<https://twitter.com/softvision_usa>

<https://www.linkedin.com/company/softvision/>

<https://www.instagram.com/softvisionteam/>

On Thu, May 20, 2021 at 2:42 PM Lukas Berger ***@***.***>
w

[2021-05-27 11:50] DGollings opened #137 "(Go) Latest builder does not appear to work with Skaffold Devmode"
\> skaffold version
v1.25.0
\> pack version
0.18.1+git-b5c1a96.build-2373

Image 'version': gcr.io/buildpacks/builder:v1

Errors out with:
(..)
[code]
~~And if I do get it to run, devmode appear broken~~

Turns out that the not being able to build at all was my fault. Had some code that couldn't compile that I failed to notice. But Devmode still doesn't work (instead of syncing it just redeploys e

[2021-05-27 15:19] lukasberger commented on #137
Sorry about that. It's likely related to https://github.com/GoogleCloudPlatform/buildpacks/commit/7e99660cc72f29788381e1e1db8e9f08ab0b23dc. I'll look into it.

[2021-06-02 00:27] adamzr opened #138 "Cannot specify multiple Maven arguments that are space separated"
I am using Google Cloud Buildpack to build my Java Maven project.

I am using `pack` with the argument `--env GOOGLE_BUILD_ARGS="--settings=maven_settings.xml -Drevision=1.328"`. This fails because the way the buildpack passes the argument to the command doesn't allow for spaces.

The error is:
[code]

Note how Maven thinks that the location for the settings file is `/workspace/maven_settings.xml

[2021-06-25 15:38] jameslittle opened #140 "Cloud Build fails for python Google Function (functions-framework)"
When using `GOOGLE_FUNCTION_TARGET`, the build works okay locally. Example below:
`pack --verbose build <FUNC_NAME> --clear-cache --builder gcr.io/buildpacks/builder:v1 --env GOOGLE_FUNCTION_TARGET=<FUNC_NAME>`

But when I trigger this in Cloud Build in GCP, it fails (with a permissions error) when trying to precompile the python code. Snippet below; full build log is attached. Kind of looks like

[2021-06-25 15:56] di commented on #140
A few things to try:
* Can you check the permissions on these directories locally? `ls -ld cloud_apps` and `ls -ld cloud_apps/__pycache__`
* Can you try removing the `__pycache__` directory locally before submitting the build?

Could you also give us some more details about how you're submitting the build? What platform you're on, etc. Are you invoking `gcloud builds submit` locally, pushing this

[2021-06-25 16:16] jameslittle commented on #140
Hi @di

The build is automatically triggered on push to git branch (code is in Cloud Source Repos). The `__pycache__` dirs definitely don't exist in the repo; have double checked this.

[2021-06-25 16:33] di commented on #140
But `cloud_apps` does? What are the permissions on that directory?

[2021-06-25 17:33] jameslittle commented on #140
AFAIK there's no way of setting permissions on a directory in a git repo. Git tracks the executable-bit on _files_ only.
The command below just ends up showing the perms on the files under that dir, and they're 644.

I would imagine on Linux, the directories end up inheriting permissions from the system's (or user's) umask.

[code]

[2021-06-26 01:50] di commented on #140
I tried to reproduce this with the following and couldn't ([output here](https://gist.github.com/di/3c998efc64dece41c0e570b41561845b)):

[code]
[code]
[code]

Is there anything different about how you're invoking `pack` here? Are you able to produce a minimally reproducing example so we can debug?

[2021-06-26 08:55] jameslittle commented on #140
I think to reproduce you'd have to setup a build that is triggered remotely in GCP by git branch pushes, or tag creations.
This is part of the workflow if you setup a Cloud Run instance with Continuous Deployment (which is what I've done).

I've attached another build log where you can see it doing the git fetch at the top. I suspect there's a change of user, between doing the fetch and running th

[2021-06-29 16:09] di commented on #140
Ok, so it looks like you followed https://cloud.google.com/run/docs/continuous-deployment-with-cloud-build#new-service then, is that right?

I followed this guide, using Cloud Source Repositories for the provider and Cloud Buildpacks for the build type. It created the following Cloud Build configuration:

[code]

And then I added this:

[code]

And the build succeeded with the above example.

Can

[2021-07-01 17:02] di commented on #140
Hi @jameslittle, are you able to share the inline build configuration that was generated for your service?

[2021-07-04 12:08] briandealwis commented on #140
@jameslittle are you able to attach your cloud build configuration?

[2021-07-04 15:28] jameslittle commented on #140
Hi @di & @briandealwis

Please see my build config below. Looks very similar to yours; the only meaningful difference I can see is that I have a subdirectory `src` as the root of the buildpack project. But this works fine for other Cloud Run instances (non `GOOGLE_FUNCTION_TARGET` instances)

[code]

[2021-07-05 09:58] jameslittle commented on #140
Also, in your source code repo, do you some code (python modules/packages) in subdirectories? As it seems to fail creating __pycache__ in subdirs.

[2021-07-06 15:16] briandealwis commented on #140
Hi @jameslittle: this is baffling. Could you provide a layout of your project so that we can try to reproduce exactly what you're seeing?

Could you add a build step prior to running pack to output the directory permissions?  That will help identify if the permission issues are happening as part of the checkout.  Something like:
[code]

Do you get the same _permission denied_ errors if you try to

[2021-07-07 13:50] tomoemon commented on #11
The `google.nodejs.npm-gcp-build` (https://github.com/GoogleCloudPlatform/buildpacks/blob/main/cmd/nodejs/npm_gcp_build/main.go) seems to be exactly what I'm looking for, but is it not available except for App Engine and Functions?

Unfortunately, `prepare` script does not seem to behave as expected in npm 7 or later.

[2021-07-08 19:39] matthewrobertson opened #141 "Eliminate npm's update available messages"
These are useless warnings because we never take action on them. Also npm makes a network request to check for available updates to disabling them should speed up builds a little bit.

I believe these checks can be disabled by setting the `NO_UPDATE_NOTIFIER` environment variable to `true`

https://docs.npmjs.com/cli/v7/using-npm/config#update-notifier

[2021-07-08 19:42] matthewrobertson opened #142 "Respect npm versions configured via package.json's engines fields"
I guess there are 2 things we could do:

1. fail the customers build with a clear error if the "engines" and "engines-strict" fields are configured for a version of npm that does not match that which is installed in the stack images:  https://docs.npmjs.com/cli/v7/configuring-npm/package-json#engines
2. parse the npm engine version from package.json and install the declared version in the npm buil

[2021-07-12 19:59] matthewrobertson opened #143 "Java graalvm acceptance tests failing consistency"
Relevant logs look like this:

[code]

[2021-07-13 21:38] matthewrobertson commented on #143
This was fixed with [this commit](https://github.com/GoogleCloudPlatform/buildpacks/commit/0cf6fb8c33cf7c44c5b90824a5fe6821a74221e8)

[2021-07-13 21:38] #143 closed

[2021-07-14 15:22] briandealwis commented on #140
Quick ping @jameslittle: even just this would help

[2021-07-22 13:54] briandealwis commented on #141
Are there situations where we should allow update notifications?   For example, the user has set `engines` but a new version has since been released.

[2021-07-22 14:04] briandealwis commented on #121
I wonder if we can turn the go mod layer into a launch-type layer so that we're not re-downloading the modules.  And revisit the decision to issue a `go mod download` on start and instead leave it to happen as part of the rebuild: in a multi-service style app, we may not actually rebuild this image at all.

[2021-07-22 14:09] briandealwis commented on #128
The CNCF project is defining [_assets_](https://github.com/buildpacks/rfcs/blob/main/text/0073-offline-buildpackages.md) which would provide this ability.

[2021-07-22 14:13] briandealwis opened #144 "Python project mistaken as a dotnet project"
We received a report of a user's python project being detected as a dotnet project.  They were developing a python project using `venv`.  Their `requirements.txt` included `ptvsd` (required for debugging with VSCode).  `ptvsd` causes the following .dlls to be installed (regardless of platform):
[code]

And our detectors are finding the `.dll`.
https://github.com/GoogleCloudPlatform/buildpacks/blob

[2021-07-22 14:26] dzou commented on #115
Could you share your pom.xml file? Also, does your project build successfully if you run it locally or is it a buildpacks issue?

Note that this error means that the `grpc-netty-shaded` dependency is not on your classpath, usually it refers to a project configuration problem.

[2021-07-22 15:13] tpiperatgod commented on #128
I'll look into the `offline-buildpackages`, that's a good idea, thanks!

[2021-08-17 11:38] gboston commented on #142
Can we customise the build to use npm@7 instead of the default npm@6?

[2021-08-31 14:21] agulowaty opened #146 "nodejs builds failing due to unstable "semver.io/node/resolve" dependency"
Used buildpack: `gcr.io/buildpacks/builder:v1` (in Skaffold)

semver.io seems to be down at the time of this writing.

[code]

Would that be possible to decouple `buildpacks` from this remote `semver.io` dependency?

Related from heroku NodeJS buildpack: https://github.com/heroku/heroku-buildpack-nodejs/pull/452

[2021-08-31 14:26] mikstur commented on #146
We are experiencing the same issue.

[2021-09-01 19:33] briandealwis commented on #146
semver.io is unstable, but it usually does work eventually.

[2021-09-03 22:01] Ponjimon commented on #107
Same here, were you able to find a solution?

[2021-09-17 05:45] #128 closed

[2021-09-28 16:05] meteatamel commented on #89
I agree. If the project has `net5.0`, the buildpack should attempt to use 5.0..Most new .NET projects are now using 5.0 and it really limits the usefulness of buildpacks for .NET.

[2021-09-28 16:12] EatonZ commented on #89
@meteatamel Once .NET 6 comes out, that will become the new default for buildpacks since it will be LTS.
Once .NET 7 comes around a year later, this same problem will occur, so it makes the most sense to have an option to specify whether to use the LTS version or not.

[2021-10-05 04:40] matthewrobertson opened #147 "Incorrect error logging by Go functions-framework buildpack"
The logging we added in https://github.com/GoogleCloudPlatform/buildpacks/commit/e3b1fbb25249e3b158500f787c45d75ebeb3e562 instructing developers to add a blank import for the functions-framework is incorrect. The import should be:

[code]

(currently the `/funcframework` suffix is missing)

See GoogleCloudPlatform/functions-framework-go/issues/78 for more information.

[2021-10-06 23:20] ArcticWalrus opened #149 "mvnw permission denied in Google Cloud Build"
I am building a Spring Boot project to run on Cloud Run using the documentation found at : https://cloud.google.com/run/docs/deploying-source-code

The build starts and fails with the following logs :
[code]
The ./mvnw permission denied being the main issue.

I tried doing the same process in your [Quick Start](https://cloud.google.com/run/docs/quickstarts/build-and-deploy/java) and had the same e

[2021-10-08 17:17] matthewrobertson opened #150 "Add support for Yarn 2"
As requested in https://github.com/GoogleCloudPlatform/functions-framework-nodejs/issues/318, we should enhance the Yarn buildpack to support Yarn v2.

Currently if you try to build an app with a lockfile created by Yarn 2 you get an error like this:

[code]

Currently, yarn is installed in our base images. We may need to take a hint from the `package.json` engines field to install the correct ver

[2021-10-09 00:57] grant commented on #147
Error messaged fixed with https://github.com/GoogleCloudPlatform/buildpacks/commit/537dc1f9157477db4725ab16e26c78e6f7ab72c8

[2021-10-09 00:57] #147 closed

[2021-10-09 23:45] matthewrobertson commented on #149
Hi @ArcticWalrus this sounds like an issue with unix file permissions. Can you try running `chmod +x ./mvnw` before deploying again?

[2021-10-11 02:55] ArcticWalrus commented on #149
Hey @matthewrobertson! Thanks for the suggestion.
That is the first thing that I tried

[2021-10-13 16:08] briandealwis commented on #150
See also #107

[2021-10-15 19:41] matthewrobertson commented on #141
Looks like this is already being set in the base image

[2021-10-15 19:41] #141 closed

[2021-10-15 22:10] matthewrobertson commented on #96
I believe this was fixed by https://github.com/GoogleCloudPlatform/buildpacks/commit/7360bf9e55a60a63a8707476512be2b0912a7921

[2021-10-15 22:10] #96 closed

[2021-10-20 20:15] ArcticWalrus commented on #149
Hey! Sorry for the slow response.
I will check the suggestions out this evening or tomorrow at the latest.
Just finished midterms

[2021-10-20 23:02] kayodeleonard opened #151 "Support BAZEL Java builds"
Would love to see support for BAZEL Java builds.  Currently, Java support is limited to Maven and Gradle.
Thanks
Kayode

[2021-10-21 17:37] matthewrobertson opened #152 "Don't run scripts when generating a package-lock.json"
Currently the npm buildpack has [logic](https://github.com/GoogleCloudPlatform/buildpacks/blob/924482b9e208ed869a248767d65dc3c9da00c018/pkg/nodejs/npm.go#L29-L40) to run `npm install --package-lock-only --quiet` in order to generate a `package-lock.json` file in projects that don't include one. This command will cause the [NPM preinstall / postinstall lifecycle hooks to run](https://docs.npmjs.com

[2021-10-21 21:21] ArcticWalrus commented on #149
@jamesward
```gcloud run deploy sample-java-mvn --source .``` did not work for me. I will install pack and give that a try as well to see if that helps.

@briandealwis
I am currently deploying from windows from a git-bash terminal.
The first line is ```#!/bin/sh```. It being on windows does not seem to be the issue seeing as I can run ```./mvnw clean package --batch-mode -DskipTests``` locally, wh

[2021-11-02 08:25] uchenxy opened #153 "failed to create builder: fetch lifecycle: downloading lifecycle connect time out"
Get "https://github.com/buildpacks/lifecycle/releases/download/v0.11.1/lifecycle-v0.11.1+linux.x86-64.tgz" time out，
how to changet the lifecycle download url?

[2021-11-03 13:30] briandealwis commented on #153
I'm guessing you're encountering this running `pack`?  That location is [hard-coded into `pack`](https://github.com/buildpacks/pack/blob/3e1f522e822242f4e66a740e4b884f7b9997b438/pkg/client/create_builder.go#L266-L272).  `pack` only downloads the `lifecycle` for an untrusted builder: for trusted builders, pack will use the `lifecycle` binary that's packaged into the builder image.

[2021-11-03 13:50] briandealwis commented on #152
Do we need to generate a `package-lock.json`?

[2021-11-04 02:44] uchenxy commented on #153
Thank you very much for your suggestion, which solved my problem
![image](https://user-images.githubusercontent.com/40748300/140249155-ab6f4e80-1026-499f-86af-946ff6297ae3.png)

[2021-11-04 02:45] #153 closed

[2021-11-04 02:50] uchenxy opened #154 "The image generated by buildpacks. The default user is CNB. How to change it to root？"
![image](https://user-images.githubusercontent.com/40748300/140249706-f00eebda-064d-4af0-a720-a46e8662491d.png)

[2021-11-04 09:51] #154 closed

[2021-11-04 20:33] lypht opened #155 "Gradle buildpack fails with `error: invalid source release: 17`"
Even with `targetCompatibility=17` builds are failing for java17.

[code]

[2021-11-04 21:44] jamesward commented on #155
I haven't tried yet but have you tried to set the `GOOGLE_RUNTIME_VERSION` to `17`?

[2021-11-04 22:38] lypht commented on #155
I'm assuming that is a build parameter.  Unfortunately, setting `_GOOGLE_RUNTIME_VERSION` to `17` still failed.  Thank you for the quick response, but still seeking resolution.

[2021-11-04 22:39] jamesward commented on #155
Are you using `pack` or something else to run the build?

[2021-11-04 22:56] fatorija commented on #155
We are trying to run a spring-boot app using `gradlew` with the following command to generate a docker image
When we execute this we get the error that @lypht mentioned

`./gradlew bootBuildImage`

This will run Jib under the hood I think.

[2021-11-04 23:01] jamesward commented on #155
That does not use Jib. Have you told Spring Boot to use the Google Cloud Buildpacks? If not, it is using the Packeto Buildpacks (the default).

[2021-11-05 12:41] fatorija commented on #155
@jamesward thanks for the quick response. You are right, it's using Packeto. I took a look here https://github.com/GoogleCloudPlatform/buildpacks and seems it only supports JVM 8 and 11.

[2021-11-05 17:51] jamesward commented on #155
Do you want to stick with the Paketo Buildpacks?  I'd think they support Java 17.  I did test the Google Cloud Buildpacks and they do support JDK 17:
[code]

If you want to switch to the Google Cloud Buildpacks, let me know and I can help with that.

[2021-11-05 19:32] #149 closed

[2021-11-05 20:01] matthewrobertson opened #156 "Convert line endings in the mvnw"
We have a received a number of bug reports from developers struggling to build apps using the maven wrapper:

https://github.com/GoogleCloudPlatform/buildpacks/issues/149
https://github.com/GoogleCloudPlatform/buildpacks/issues/58

After snooping around at other buildpack implementations I suspect there is problem with the wrapper is using Windows' line endings`<cr><lf>` instead of unix style <lf>

[2021-11-05 21:58] fatorija commented on #155
@jamesward  thank you for your support and responses. I was able to use the gcp builder locally and build the container without problems. The branch we were working on was throwing that error (I reproduced it locally also) but when I changed to another branch it working as expected.

[2021-11-06 04:04] briandealwis commented on #155
Closing as this doesn't seem to be an error with the GCP Buildpacks.

[2021-11-06 04:04] #155 closed

[2021-11-06 10:44] aserputov commented on #156
Hey, @matthewrobertson, I would like to work on this issue. Could you please assign it to me?

[2021-11-11 01:02] matthewrobertson opened #157 "Fix acceptance test regressions caused by .NET6 release"
It looks like the .NET6 release broke many of our acceptance tests. I would have expected the dotnet runtime buildpack to automatically respect the version in the .csproj but it seems this is not the case. For now we pinned the `GOOGLE_RUNTIME_VERSION` in all the acceptance tests but we should find a way to remove this. We should also add some .NET6 specific acceptance tests.

[2021-11-11 17:28] matthewrobertson commented on #157
here is a log dump of a failed run:

[code]

[2021-11-11 17:49] matthewrobertson commented on #157
To me it looks like we are automatically installing the latest .NET SDK (Version: 6.0.100). But this isn't compatible with the `TargetFramework` that the sample apps have declared in their csproj:

[code]

My naive idea is that we should update the runtime buildpack to parse the `TargetFramework` from the csproj and use it to determine which version of .NET should get installed at build time. @jsk

[2021-11-12 09:35] jskeet commented on #157
There are two issues here, I think:

- Making sure we've got the right SDK available to *build* the app
- Making sure we've got the right runtime available to *deploy* the app

The first point is relatively straightward to support, I suspect: we can install both .NET 6.0 and .NET Core 3.1 SDKs side-by-side, which should allow us to build either. I'm assuming it doesn't matter too much if the Docke

[2021-11-15 22:52] spew commented on #142
This is implemented.

[2021-11-15 22:52] #142 closed

[2021-11-15 23:40] matthewrobertson commented on #157
@jskeet in this case the tests that started failing were for the GCP Buildpacks, which install all tools, SDKs etc at build time. It looks like our [current logic](https://github.com/GoogleCloudPlatform/buildpacks/blob/main/cmd/dotnet/runtime/main.go#L131-L160) for determining which .NET SDK we should install is:

1. Use the version specified in the `GOOGLE_RUNTIME_VERSION` env var
2. Use the `Sdk

[2021-11-15 23:48] matthewrobertson commented on #157
aha!

https://dotnetcli.blob.core.windows.net/dotnet/Sdk/2.1/latest.version
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/3.0/latest.version
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/3.1/latest.version
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/6.0/latest.version

[2021-11-16 03:19] spew commented on #157
Ahh nice, that makes sense.

[2021-11-16 10:59] paolomainardi opened #158 "How to use with kpack"
I am struggling a bit trying to use these buildpacks with kpack: https://github.com/pivotal/kpack/issues/884

It is more or less an hello world built in Javascript with Nodejs which is perfectly fine when built with pack: `pack build test --builder gcr.io/buildpacks/builder:v1` but cannot make it to work with kpack, precisely the `builder` which shuold be the component in charge to build the `imag

[2021-11-16 11:03] tatablack commented on #142
That's.. good news 🙂
May I ask where/how? I wasn't able to find a commit / PR, but it's entirely possible I've looked in the wrong places, I guess.

[2021-11-16 14:15] spew commented on #142
Thanks for asking @tatablack, the commit hasn't uploaded yet from our internal systems. Checking on why.

[2021-11-16 14:54] spew commented on #142
Now available, in this commit:

https://github.com/GoogleCloudPlatform/buildpacks/commit/2072e961361659e061946acd9403b274498455c3

[2021-11-16 15:39] black-snow opened #159 "Failure: (ID: 14f2a5b3) /usr/bin/env: 'sh\r': No such file or directory"
Suddenly I cannot deploy to Cloud Run via Cloud Code anymore (IDEA). Nothing was changed. The only possible difference is that some newer buildpack related images were pulled automatically inbetween. It's a JDK 11 Spring Boot app.

I cannot provide a sample but maybe the output is enough to figure it out.

[code]

Looking at the images, I see:

[code]

[2021-11-16 16:19] tatablack commented on #142
Thanks, @spew 👍🏻 🙂

[2021-11-16 16:25] jamesward commented on #159
It looks like something changed in the line endings with the `gradlew` file.  Can you run:
[code]
And see if that fixes anything?

[2021-11-16 17:26] ludoch commented on #159
you dev env is Windows, right?

[2021-11-17 21:47] dimmetrius opened #160 "Improve documentation for Nodejs developers who wish to catch SIGTERM"
Hello!

found a problem with a simple nodejs application deployed to Cloud Run.
The problem is that the Cloud Run container never receives the SIGTERM event on instance Graceful shutdown

see https://github.com/dimmetrius/cloudRunHello

step 1 build container: npm build
step 2 deploy container: npm deploy

commands used:
gcloud --project ${PROJECT} builds submit --pack=image=gcr.io/${PROJECT}/clou

[2021-11-17 22:00] steren commented on #160
If we compare deploying [this sample](https://github.com/steren/container-info) with Dockerfile and with Buildpacks

The node app is able to catch the SIGTERM signal when using Dockerfile but not Builpacks, this is why we believe this is an issue with buildpacks

[2021-11-18 00:25] matthewrobertson commented on #160
@dimmetrius this is a [long standing issue with NPM](https://github.com/npm/npm/issues/4603). By default the nodejs buildpacks will run your app by calling `npm run start`. Unfortunately this causes `npm` to swallow SIGTERM. You can override the default startup process by including a Procfile with a `web` process that invokes `node` directly. So for your sample app the Procfile would be:

[code]

[2021-11-18 10:47] dimmetrius commented on #160
@matthewrobertson Thank you! After Procfile adding the application started to receive SIGTERM signal

[2021-11-18 14:04] black-snow commented on #159
Ah, that might be it. I have no time to try it atm but I'm pretty sure that's the cause. Thanks a lot.
I'll close this for now and reopen if the root was something else.

[2021-11-18 14:04] #159 closed

[2021-11-18 16:21] dweekly commented on #160
Thank you so much for helping resolve our issue!!

In the interest of being charitable to others who inevitably will stub their toe against this also, is there a good way of suggesting a feature request for the nodejs buildpack team or at least having a prominent findable FAQ that addresses the problem and one-line fix?

[2021-11-18 17:27] steren commented on #160
I suggest we re-open this issue and only close it when either:

1. GCP Buildpacks have a better default experience that would result in the SIGTERM signal not being swallowed when possible
2. the use of Procfile for Node.js startup commands is better documented

[2021-11-18 19:02] matthewrobertson commented on #160
@steren I agree with on 2. I have re-opened the issue.

On 1, I don't think we can change the default behaviour as `npm start` has a bunch of side effects that customers might be relying on (eg running `prestart` scripts). Changing this now would be a breaking change.

[2021-11-18 20:21] matthewrobertson commented on #156
This was fixed with https://github.com/GoogleCloudPlatform/buildpacks/commit/2f2feac0ab2edc2b3fb05bdd4868aa9603cc24c3

[2021-11-18 20:21] #156 closed

[2021-11-18 20:22] matthewrobertson commented on #156
@aserputov sorry we had already assigned this issue to an internal owner. I believe the same issue exists for the gradle wrapper if you want to take a crack at that.

[2021-11-18 20:23] aserputov commented on #156
@matthewrobertson no problems, thanks

[2021-11-18 20:24] matthewrobertson commented on #140
I am closing this as we don't have enough information to debug. @jameslittle please re-open if you are still having issues.

[2021-11-18 20:24] #140 closed

[2021-11-18 20:25] matthewrobertson commented on #90
We have no plans to switch to AR at this time. We will upload the README if we do

[2021-11-18 20:25] #90 closed

[2021-11-18 20:59] dweekly commented on #160
Thanks Steren & Matthew. I wonder; could a build-time or run-time warning be issued when building or running a nodejs image with no Procfile?

"WARNING: No Procfile detected. Will assume 'npm start'; signals like SIGTERM may go untrapped by your script. See https://X.Y.Z/ for more info"

[2021-11-22 19:02] samj1912 opened #161 "Add support for standard SBOM formats"
As of Buildpacks API 0.7, we started supporting standard SBOM formats including CycloneDx, SPDX and Syft. This is a feature request to update GCP buildpacks to output these SBOMs during builds. For more information please check out -

https://github.com/buildpacks/spec/releases/tag/buildpack%2Fv0.7
https://github.com/buildpacks/spec/releases/tag/platform%2Fv0.8
https://buildpacks.io/docs/reference

[2021-11-23 23:36] jjdelorme commented on #157
Trying to use the build pack with a .NET 6.0 application now fails as well.  It was working with preview7, but I'm getting the same error above, even when explicitly specifying --env=GOOGLE_RUNTIME_VERSION=6.0.100.  This was working a couple of months ago.

[2021-11-24 14:57] Nixarn opened #162 "Impossible to figure out how to get other .net versions in use"
I need the .net 5 framework but it's impossible to get it working. And the documentation is seriously lacking. It says to use GOOGLE_RUNTIME_VERSION. And I've tried "5", "5.0", "5.0.0", "5.0-alpine", "net5", "5net". Nothing works, it just uses this tag to download the right file form

https://dotnetcli.blob.core.windows.net/dotnet/Sdk/[TAG]/dotnet-sdk-[TAG]-linux-x64.tar.gz

But it's also impossib

[2021-11-26 15:27] briandealwis commented on #162
Follow the appropriate SDK version page from https://dotnet.microsoft.com/download/dotnet and you should see the available versions.  For example, for .NET 5.0, I ended up at https://dotnet.microsoft.com/download/dotnet/5.0.  There I see the latest version is 5.0.403.  Plugging in that version into `GOOGLE_RUNTIME_VERSION` worked for me.
[code]

[2021-11-26 15:27] #162 closed

[2021-11-26 15:31] briandealwis commented on #158
I believe kpack requires building its own builder image by installing buildpacks via buildpackages.  We don't publish our buildpacks as individual buildpackages.

[2021-11-26 19:53] spew commented on #157
Hi @jjdelorme, thanks for reporting your issue. I have a fix for this and it will likely be available late next week.

[2021-11-29 16:20] spew commented on #161
I will be looking into this soon.

[2021-11-29 19:47] samj1912 commented on #161
@spew Thanks! We have also been updating https://github.com/buildpacks/libcnb to support these new SBOM apis. We also have a buildpack author's tooling team on the Buildpacks project now and would love if you and your team would be interested in attending our sub-team syncs and give us feedback on these changes. We are also working on libcnb v2 API to address some short comings of the current libc

[2021-11-29 19:55] spew commented on #161
@samj1912 Yes, I am interested in attending.

[2021-11-29 20:44] samj1912 commented on #161
Amazing! You should be able to find the details at https://github.com/buildpacks/community#details-5

[2021-11-30 09:26] samj1912 commented on #158
If you are okay with using just the kpack build resource, you should be able to use gcp buildpacks by directly specifying the builder image. See https://github.com/pivotal/kpack/blob/main/docs/build.md#configuration

[2021-12-06 13:45] jasonjho commented on #24
Any updates on this?

[2021-12-16 22:01] ace-n opened #164 "Go buildpack should cache unchanged dependencies"
### Current behavior
`pack build` calls `go get` _every time_ it runs - even if the underlying dependencies _have not changed_ (as judged by `go.mod` and/or `go.sum`).

### Expected behavior
`pack build` should only call `go get` if `go.mod` and/or `go.sum` changes, as suggested in [this blog post](https://carlosbecker.com/posts/docker-go-mod/).

[2021-12-16 22:04] ace-n commented on #164
Edit: never mind, looks like something was errant w/ my local machine.

[2021-12-16 22:04] #164 closed

[2021-12-30 22:32] steren opened #165 "Consider running "scripts.build" by default for Node.js"
It is very common for Node.js apps to have a "`build`" script, expected to be run at build time.

Example with a Next.js app:

[code]

Today GCP Buildpacks do not run this `build` script.

I think I remember that if `gcp-build` script is present then it is run. I know that's what App Engine does and I can see traces of this in the code, however, it didn't seem to work when I tried.

Because it see

[2022-01-03 22:56] furlongce opened #166 "Multimodule Maven Project - Cannot find any jar files"
I'm using Cloud Code within IntelliJ with a multimodule maven project. I've tried a few different things and was finally able to get the project to build successfully, but only if I build the the top level parent pom.xml.

My structure is:

- Parent
- - translation engine
- - artengine
- - common
- - common-test

The problem is that once it's finished building, I see this:

![image](https://user-i

[2022-01-04 04:11] jamesward commented on #166
I think you are going to have to get the Maven Assembly Plugin to package up the right stuff for the root `package` phase.  It seems like people have been able to do this, like:
https://everyday.codes/java/creating-production-artifacts-in-a-multi-module-maven-project/

[2022-01-10 09:22] fkautz opened #167 "Slack community should allow community members to join"
The readme states that we can join the slack community, but the community is only available to people with google.com and apple.com corporate email addresses.

Are you able to relax the requirement so that end-users can join in?

Thanks!

[2022-01-10 09:24] fkautz opened #168 "Where to report security issues?"
I found a possible security issue with the GCP buildpack.

Where should I report it? I'm not comfortable reporting it here in public.

[2022-01-13 23:15] msathe-tech opened #169 "CNB has no new version published. We need example of Rebase."
gcr.io/buildpacks/builder:v1 for Java apps has 36 CVEs.
There is no new version published.
We also need a new version to check out the Rebase functionality.

[2022-01-17 03:53] matthewrobertson commented on #168
Hi @fkautz. You can email me directly: mattrobertson@google.com. Thank you!

[2022-01-17 14:30] DGollings opened #170 "Current gcr.io/buildpacks/builder:v1 broken"
Surprised nobody has mentioned this, I'm the only person crazy enough not to 'pin' versions? Noticed this a couple days ago:
[code]
Can confirm it occurs for Skaffold 1.34 and 1.35.2

Is this a bug or a feature?

Whilst pondering the above question I built the sample-go app in the readme. It 'builds' (the little there is to build)
(`pack build --builder gcr.io/buildpacks/builder:v1 sample-go`)

So

[2022-01-17 15:08] xSAVIKx commented on #170
Yeeep, our CI builds are also failing now.

[2022-01-17 15:10] DGollings commented on #170
@xSAVIKx  my 'fix'
`gcr.io/buildpacks/builder@sha256:386d9463cbab60718d1f9e213df9e3ccf5e166190696be69bdd16d7d466875bd`

(picked a pretty random SHA, but works for me)

[2022-01-17 15:11] xSAVIKx commented on #170
You can pick some latest one from here as well: https://console.cloud.google.com/gcr/images/buildpacks/GLOBAL/builder

[2022-01-17 21:43] xSAVIKx commented on #170
@matthewrobertson @MontyCarter do you maybe know what can the the issue here and when this can be addressed?

[2022-01-17 21:51] xSAVIKx commented on #170
Also, this image fails for me with the following error:
[code]

I'm building a container in the local env. Just FYI, I have another build that uses `gcloud builds submit --pack` and that one works fine in the cloud.

I may attempt to move my current build to Cloud Build env and check.

[2022-01-17 22:28] jamesward commented on #168
Oh, we do need a SECURITY.md in this repo. I think something like: https://github.com/GoogleCloudPlatform/cloud-foundation-toolkit/blob/master/SECURITY.md

[2022-01-18 02:20] matthewrobertson commented on #170
Sounds like this is a regression caused by the update to use wildcard stacks in: https://github.com/GoogleCloudPlatform/buildpacks/commit/3ce58348bc60686a2a2051cc438ac59350ee4ced

Sorry for the inconvenience. I am not able to reproduce the issue on my end. I suspect it is caused by some conflicting version of pack that doesn't support wildcard stacks.

@xSAVIKx  or @DGollings could you tell me mor

[2022-01-18 02:38] matthewrobertson commented on #170
@briandealwis maybe you have more info about what could be happening here? Is skaffold using an old version of pack?

[2022-01-18 06:09] matthewrobertson commented on #170
I landed a commit to revert what I suspect to be the offending change. It will take a few hours for the CI to publish a new builder.

[2022-01-18 08:43] xSAVIKx commented on #170
I can confirm that the bc039ad change fixes the builder (resulted in the new builder image: https://console.cloud.google.com/gcr/images/buildpacks/global/builder@sha256:4a9460c52d511b306acdd5a939c5607f08654750fd4c10e00a5fad296b4eccd2/details)

I basically have a `pack` build running in GitHub Actions environment, smth like:
[code]

And this setup builds a Python application based on Functions Fram

[2022-01-18 10:27] DGollings commented on #170
@matthewrobertson

Good news, I can reproduce. Normally I build and deploy everything with Skaffold, but sometimes I do a hotfix using a simple CLI oneliner

Using image `gcr.io/buildpacks/builder@sha256:4d69800df46491214311eb590a3a213e02d6e04fafd26232067afc4a0943e749`

This works (identical to Skaffold)
[code]

But, I checked the Skaffold go.mod and they use version 0.18

Downloaded 0.18 manually

[2022-01-19 13:48] briandealwis commented on #170
Sorry I have a patch for Skaffold to update to a later version of pack-as-a- library. I’ll try to get that in ASAP.

[2022-01-19 23:48] #168 closed

[2022-01-20 05:55] matthewrobertson opened #171 "Add support for private NuGet feeds"
I would expect that configuring a feed in a solution level NuGet.config would just work, but that doesn't seem to be the case: https://github.com/GoogleCloudPlatform/functions-framework-dotnet/issues/236

[2022-01-20 15:18] spew commented on #157
Hi @meteatamel I have submitted 1 out of 3 commits remaining to get .NET6 working, I am hoping to get them all in by next week (they are all complete).

You can take a look at the first commit here: https://github.com/GoogleCloudPlatform/buildpacks/commit/dac47e0669ca74a755838a5993d4788b9b47550f

[2022-01-20 19:28] matthewrobertson commented on #170
I think most open source customers will be using the buildpacks with the google stack so we can keep that one in the toml files and add the wildcard for the product specific ones.

[2022-01-22 23:42] EatonZ commented on #89
@meteatamel @lukasberger I was preparing my .NET 6 publish today and I was surprised to learn my above assumption was wrong. It appears the version is now pinned to 3.1 in [this commit](https://github.com/GoogleCloudPlatform/buildpacks/commit/48fa59de7c42e13e99b156ed5112076286cf2a1b#diff-8879102bbe7483ae7a49c9b4a0efc5b62553b24ce9a4b307f45e0fccd614c5fb).

@spew Can you answer 2 questions?
1. Why is

[2022-01-24 07:03] meteatamel commented on #89
I guess the bigger question for the buildpacks team is whether the buildpack only supports the LTS versions. My vote is to have it support all versions of .NET (not just LTS) because as @EatonZ points out, the buildpack will keep breaking, every time there's a non-LTS version. But I understand this is more work.

[2022-01-24 17:10] spew commented on #89
The LTS version does not work at all due to the hacky way that we install the SDK and then 'delete' the SDK portion to only leave the runtime.

The fix I have in progress (sorry, code reviews have been taking a while) will support all versions of the core SDK, i.e. everything after dotnetcore1.0

[2022-01-26 19:12] #150 closed

[2022-01-26 23:10] xSAVIKx opened #172 "GAE buildpack is not able to determine zip file without `.zip` extension"
While deploying GAE standard service with a ZIP archive stored in the GCS I found that it's not capable of determining the archive type properly and just fails after trying to unpack `.tar` instead of `.zip` 3 times.

At the same time, GCF buildpack is able to work with the same ZIP archive without any glitches.

I assume the reason behind such behavior is the usage of different buildpacks for GAE

[2022-01-27 12:15] AshleyMedway commented on #113
Any update on this? Could save us/you hours of build time per month :)

[2022-01-27 21:40] squee1945 commented on #172
Can you mention how you're deploying to GAE?

[2022-01-27 21:50] xSAVIKx commented on #172
I'm using Pulumi to deploy the app, but I believe that even with the gcloud cli and a zip archive as a source we'll see the same results.

Pulumi like Terraform uses AppEngine Admin SDK under the hood.

[2022-01-28 16:42] beingminimal opened #173 "Add support for deno"
We need to deploy deno in production, but we don't want to use docker in our devops workflow, so we switched to google cloud buildpacks. But now for deno there is no official support and there is not any buildpack for deno to deploy deno with buildpack.

Expectations
Please provide official buildpack for deno

References
https://deno.land/

Google cloud issue url https://issuetracker.google.com/21

[2022-01-28 20:03] matthewrobertson commented on #169
We release updates to the base images very frequently. Could you please share the details of which CVEs you are finding in the images and how you are scanning? AR auto scanning turns up a few low severity CVEs but none of them have patches available so an update won't help.

[2022-01-28 20:05] matthewrobertson commented on #169
I agree we need better documentation on how to rebase to update the base image layers.

We should also provide docs on how to remove unnecessary packages from the base image. This would allow users to eliminate CVEs that were introduced by packages that are not required by their application.

[2022-01-28 20:06] matthewrobertson commented on #167
The slack channel is not longer actively monitored. I removed it from the README.

[2022-01-28 20:06] #167 closed

[2022-01-28 20:08] #170 closed

[2022-01-28 20:10] briandealwis commented on #170
It's committed to HEAD (https://github.com/GoogleContainerTools/skaffold/pull/6979) and will be in the next release.  Anybody needing this now can use the "bleeding edge" binaries from https://skaffold.dev/docs/install

[2022-01-30 10:35] timmyd87 commented on #77
Hey team, Is there a rough/estimated target date for supporting ruby? No rush, just curious.

[2022-02-01 08:59] Banttu opened #174 "Nodejs builds with lifecycle scripts fail because of --production=false flag"
Since [Yarn 2 support](https://github.com/GoogleCloudPlatform/buildpacks/commit/083551c792d7de30f40242d07b93164507a840dd) was added the --production=false flag has been used for installing dependencies. This causes issues with projects that use lifecycle scripts. In my case this new command triggers the typescript compiler and the build fails since no tsconfig is present.

I tried adding NODE_ENV

[2022-02-01 17:58] matthewrobertson commented on #174
Hi @Banttu sorry to hear you are having trouble. Could you share a bit more about your project setup? Specifically how have you configured the scripts in your package.json file? I am a bit confused why `tsc` is being triggered now if it wasn't triggered before.

The change to `--production=false` was intentional to help developers who wanted to run scripts that required devDependencies. Have you c

[2022-02-02 06:40] Banttu commented on #174
@matthewrobertson

In this specific project the issue was caused by the `prepublish` script that included a build command. I'm not sure how common this use case actually is. The previous command didn't trigger it.

I was able to successfully deploy the functions by removing the `prepublish` command entirely, since it wasn't really something was **required** (I'm not really sure why it had ever bee

[2022-02-02 10:43] koistya commented on #174
Here is Yarn-based GCF project setup: https://github.com/kriasoft/relay-starter-kit → `api`

The API Cloud Function is being bundled with Yarn v3.2.0 CLI and NPM packages. Ater you run `yarn api:build`, the build output looks like this:

[code]

Then when your run `yarn api:deploy` it deploys the API package to GCF from the `./api/dist` folder.

[2022-02-02 11:09] koistya commented on #174
It seems like `yarn install` no longer uses the correct Yarn version (found in [`.yarnrc.yml`](https://github.com/kriasoft/relay-starter-kit/blob/71462f8c707200b81800c13063147e01799dc6e6/.yarnrc.yml#L23) file).

[2022-02-02 11:24] Banttu commented on #174
@koistya

For us the `DEBUG: ***** CACHE MISS: "prod dependencies"` was present before this change.

We're using yarn v1.22.17 so we don't get this operation error you mentioned.

[2022-02-02 11:24] koistya opened #175 "Regression — doesn't use the bundled Yarn version"
The recently released buildpack for Node.js broke the way `yarn install` works — it's no longer uses the bundled yarn version (defined in `.yarnrc.yml` file). At least, providing a patched Yarn CLI as a workaround for #174 doesn't work.

Project sample — https://github.com/kriasoft/relay-starter-kit → `api` (GraphQL API for GCF environment)

This Cloud Function is being bundled with Yarn v3.2.0 CL

[2022-02-02 23:03] spew commented on #157
Just got another commit in: https://github.com/GoogleCloudPlatform/buildpacks/commit/3ea8b29ab9b347eef62720b202c17646baf813ab

There is one more coming and then .NET 6 should work.

[2022-02-03 01:20] matthewrobertson commented on #175
In theory, https://github.com/GoogleCloudPlatform/buildpacks/commit/083551c792d7de30f40242d07b93164507a840dd should have added support for Yarn2 / PnP mode, so I am surprised that this was working before.

The error message of `FAILURE and message: Unknown Syntax Error: Invalid option name ("--production=false").` sounds like the buildpack is failing to recognize that the project is using Yarn2. O

[2022-02-03 01:28] matthewrobertson commented on #174
I think this is all working as expected as I think this is an unusual edge case and`prepublish` hooks shouldn't mutate the project source.

[2022-02-03 01:28] #174 closed

[2022-02-03 01:37] matthewrobertson commented on #175
Ahh so it seems like the commit to add Yarn2 support didn't go out in the most recent gcf release but https://github.com/GoogleCloudPlatform/buildpacks/commit/0c08a9c7992b50c941f8be8f49f74ffe12317a24 did.

This app builds fine using the code that is checked in to main. The reason that this appeared to work before is because we treated it like Yarn1 and just installed installed everything in `node_

[2022-02-03 01:44] matthewrobertson commented on #175
That said I am not sure apps using Yarn2 PnP mode will run on GCF because of the way we install and invoke the functions framework in production. Addressing that is still a WIP.

To be clear, GCF has never (and still does not) support Yarn2 or Yarn2 PnP mode. I am actively working on it, but I would advise against using it for now.

[2022-02-03 07:17] koistya commented on #175
Hm...  I have a bunch of projects for various clients using Yarn PnP that are currently broken, unable to update / re-deploy. Was using Yarn PnP just fine, by passing `NODE_OPTIONS=--require=./.pnp.cjs`  env var during deploy, it was installing dependencies using the bundled Yarn version into `.yarn` folder, and `./.pnp.cjs` was able to pick them up just fine.

https://github.com/kriasoft/relay-st

[2022-02-03 07:59] meteatamel commented on #157
Thanks for the update. I'll be the first one to try! :-)

[2022-02-03 15:53] sl0wik opened #176 "COMPOSER_MEMORY_LIMIT on App Engine PHP7 build"
I'm trying to pass `COMPOSER_MEMORY_LIMIT` to App Engine Standard PHP7 buildback.

According to https://cloud.google.com/appengine/docs/standard/php7/config/appref#build_environment_variables and https://github.com/GoogleCloudPlatform/buildpacks#language-idiomatic-configuration-options I added to my app.yaml:
[code]

Env is not passed to the build process. Is there something I'm doing wrong or it'

[2022-02-03 15:54] jjdelorme commented on #157
Woot! I'll be #2 ;-).

On Thu, Feb 3, 2022 at 2:59 AM Mete Atamel ***@***.***> wrote:

[2022-02-03 17:47] EatonZ commented on #157
Me 3 🤩

[2022-02-03 20:50] spew commented on #157
This should be fixed, I just built a sample .NET 6.0 application with the following:

[code]

[2022-02-03 20:51] spew commented on #157
Please do let me know of any issues.

[2022-02-03 21:08] EatonZ commented on #157
@spew With your changes, it is not necessary to specify `GOOGLE_RUNTIME_VERSION` for .NET 6? When the non-LTS .NET 7 comes out this fall, what will happen then?

[2022-02-03 21:14] spew commented on #157
It is not, when .NET 7 comes out, assuming nothing changes about the download URLs / untarring, and the `TargetFramework` name in the `csproj` is `net7.0`, then .NET 7 will JustWork.

[2022-02-03 21:48] jjdelorme commented on #157
Just confirming it worked for .NET 6! Thank you!

[2022-02-03 22:01] EatonZ commented on #157
Thanks for your work, @spew. I can also confirm it works.

If that is the case, you have essentially solved https://github.com/GoogleCloudPlatform/buildpacks/issues/89 as well. I'll go ahead and close that issue.

[2022-02-03 22:03] EatonZ commented on #89
Issue is now solved thanks to work from @spew.
[More information about the changes.](https://github.com/GoogleCloudPlatform/buildpacks/issues/157#issuecomment-1029408023)

[2022-02-03 22:03] #89 closed

[2022-02-03 22:06] spew commented on #89
Fixed by https://github.com/GoogleCloudPlatform/buildpacks/issues/157

[2022-02-03 22:06] spew commented on #157
Thanks, glad to hear that it works for all of you as well!

[2022-02-03 22:06] #157 closed

[2022-02-04 07:55] jscott22 opened #177 "Yarn build pack times out for App Engine Standard deploys"
After [this commit](https://github.com/GoogleCloudPlatform/buildpacks/commit/0c08a9c7992b50c941f8be8f49f74ffe12317a24#diff-7f171c37897b2bd5b3bcafe051b07af8bf09746350a61f30a9acf3aef18c0431R78), our nodejs GAE standard environment builds have been timing out due to dev dependencies being installed. The time to install dev dependencies and run the `cp --archive` command is now roughly 6-7 minutes. Th

[2022-02-04 08:14] meteatamel commented on #157
Whoo! Thanks for the fix, works great for .NET 5 and 6.

[2022-02-04 15:34] hab25 commented on #107
https://github.com/GoogleCloudPlatform/buildpacks/commit/083551c792d7de30f40242d07b93164507a840dd closed #150. Should this still be open?

[2022-02-04 16:00] spew commented on #144
This should is fixed by https://github.com/GoogleCloudPlatform/buildpacks/commit/876a88f42652302fe58a6f89bdde8e7e41edafc6

[2022-02-04 16:00] #144 closed

[2022-02-05 04:17] matthewrobertson commented on #175
@koistya https://github.com/GoogleCloudPlatform/buildpacks/commit/c5bf000ef66c97ac30671d465b4711d1649115e7 adds proper support for Yarn2 on GCF. It will go out in next week's release after which you should be able use Yarn2 without any modifications to `NODE_OPTIONS`. Are all your apps using the `nodejs16` runtime? I can probably expedite that release to unblock you.

[2022-02-07 03:43] matthewrobertson commented on #177
Is it possible to share which dependencies you have listed in your package.json?

[2022-02-07 03:45] matthewrobertson commented on #177
We should probably switch using a symlink instead of `cp`ing between the layer and workspace.

[2022-02-07 22:20] tilgovi commented on #175
I just ran into this today. I thought it was due to upgrading to nodejs16, but that may just be a coincidence. We have been deploying GCFs that we develop with Yarn 2 without issue. Today, we started hitting this new conditional path and incorrectly getting the Yarn 1 command line flags that cause our build to fail.

[2022-02-07 22:55] matthewrobertson commented on #175
@tilgovi are you using Yarn2's PnP mode? I am expediting a release that should have the necessary changes to add support for Yarn2 to GCF. It will take a few hours to hit all GCP regions.

[2022-02-08 16:57] tilgovi commented on #175
Yes, we're using PnP. It looks like the rollout fixed our issues. Thanks for the speedy response!

[2022-02-08 17:02] matthewrobertson commented on #175
Awesome. Yarn2 PnP should be fully supported by all products that use our buildpacks. I am closing this issue. If you experience any new problems please file bugs.

[2022-02-08 17:02] #175 closed

[2022-02-08 17:47] matthewrobertson commented on #177
Also, there is no reason we should be preventing people from extending the build timeout when deploying to GAE.

[2022-02-09 08:57] nataljabalicka opened #178 "gcloud beta run deploy fails with missing-entrypoint error"
Hello,

I am trying to deploy the changes to our small python project to Cloud Run using
**gcloud beta run deploy --source=<project path>**  command.

However, the build fails with the error below:
.....
Status: Downloaded newer image for buildpacksio/lifecycle:0.13.1
===> DETECTING
[detector] google.python.missing-entrypoint 0.9.0
===> ANALYZING
[analyzer] Previous image with name "gcr.io/dev-sti

[2022-02-10 11:59] koistya commented on #175
@matthewrobertson there are a few more errors (unable to deploy a Node.js + Yarn project).

Q: Is `NODE_ENV` variable is no longer being set to `production`? Previously, it was set to production and this (local dev) code block below was ignored in the GCF environment:

https://github.com/kriasoft/relay-starter-kit/blob/71462f8c707200b81800c13063147e01799dc6e6/api/index.ts#L46-L61

After the recent

[2022-02-10 12:33] koistya opened #179 "Container Healthcheck fails unable to load Node.js PnP dependencies"
After the recent "buildpack" release, deploying a gen1/gen2 Cloud Function stopped working with the error:

[code]

[code]

It looks like it's no longer able to load PnP dependencies during the container healthcheck.

Before that update, it was possible to deploy a Node.js package with PnP dependencies by adding `--set-env-vars=NODE_OPTIONS=--require=./.pnp.cjs` argument to `gcloud functions deplo

[2022-02-10 12:45] koistya opened #180 "[WARNING] Keeping devDependencies because the Yarn workspace-tools plugin is not installed"
Can we get rid of this warning during the deployment? By checking if the app even has any workspaces defined in `package.json->workspaces`.

Alternatively, you can check if `package.json->devDependencies` exists or not, if not, displaying this warning in the console doesn't make sense and can be confusing.

OR, allow a way to suppress this warning via `--set-build-env-vars` flag.

For example, whe

[2022-02-10 16:54] matthewrobertson commented on #175
@koistya can you share more details about how the project is configured? Is express listed in your `package.json` / `yarn.lock` and `.yarn/cache`?

[2022-02-10 17:35] matthewrobertson commented on #177
https://github.com/GoogleCloudPlatform/buildpacks/commit/63f407527a888b04c4becdf60d7221ad6be40ee6 is the fix for this. It take some time to land in all GCP regions. I will report back here when it is in.

[2022-02-10 19:00] koistya commented on #180
Yeah, if Zero-install is used — by bundling `.yarn/cache` into the `source.zip`, running `yarn workspaces focus --production` won't make much of a difference compared to `yarn install`. We would just need to bundle the `workspace-tools` plugin into the `source.zip` to avoid this error. I wish it would just run `yarn install` if either `workspace-tools` plugin is not installed, or the app has no an

[2022-02-10 23:40] matthewrobertson commented on #179
In theory this should work without the `--require=./pnp.cjs` now because we updated the Functions Framework buildpack to call `yarn functions-framework` in https://github.com/GoogleCloudPlatform/buildpacks/commit/c5bf000ef66c97ac30671d465b4711d1649115e7.

We do have an acceptance test for this [here](https://github.com/GoogleCloudPlatform/buildpacks/tree/main/builders/testdata/nodejs/functions/yar

[2022-02-11 02:53] Manny2014 opened #181 "Consider making build tools available for "build" and excluded for "launch""
In order to output a "lean" image, build tools such as jdk and maven should only be made available to the "build" phase of the lifecycle in the layer content metadata. Keeping these will not only increases the size of the image but also be susceptible to vulnerabilities/CVE's.

Alternatively, expose an environment variable that allows the option to keep around or remove.

I looked around the docs

[2022-02-11 09:54] nataljabalicka commented on #178
Thanks for the answer! Your comment regarding the root directory made me realize that in the --source param I am providing the incorrect root directory path. That was the reason for the issue!

[2022-02-11 09:54] #178 closed

[2022-02-11 10:11] koistya commented on #179
@matthewrobertson indeed, I didn't have `@google-cloud/functions-framework` dependency listed in `package.json`. Note, though, that it did work OK without this dependency before the recent buildpack update (deployment succeeded and the app was loading dependencies via PnP at runtime).

I'm getting the same `gcloud functions deploy` error now, but a different runtime error (when it's trying to do c

[2022-02-11 11:47] koistya commented on #179
@matthewrobertson by including `@google-cloud/functions-framework` and setting `NODE_OPTIONS=--require=./.pnp.jcs --require=source-map-support/register` environment variable I'm able now to deploy the app to GCF Gen1, but not to Gen2.

[2022-02-12 19:54] matthewrobertson commented on #177
Fix should be deployed for `nodejs16` and `nodejs14` runtimes. Please re-open if you are continuing to have problems.

[2022-02-12 19:54] #177 closed

[2022-02-15 11:51] koistya commented on #179
@matthewrobertson it seems like deploying a Node.js app with PnP dependencies to GCF Gen2 started working again. There is a healthcheck warning in the console logs though:

`Unknown https://1-dot-45d4e764c8eae213702f39069584d51e-dot-u05aca629a62ddd60p-tp.appspot.com/_ah/healthcheck
The request was aborted because there was no available instance. Additional troubleshooting documentation can be foun

[2022-02-15 12:06] #179 closed

[2022-02-15 12:13] koistya commented on #180
I no longer see this warning during deployment. Everything seems to be working as expected. Thanks!

[2022-02-15 12:13] #180 closed

[2022-02-16 18:15] spew commented on #181
It is a mistake that those layers are available at launch (unless your build activated devmode).

[2022-02-16 20:34] modosc opened #182 "yarn 1 no longer working"
this started sometime in the past few days. all of our node cloudfunction deploys fail 100% of the time now:
[code]

[2022-02-16 20:41] modosc commented on #182
looks like this is the change that broke things:

https://github.com/GoogleCloudPlatform/buildpacks/commit/b42d29a5224a1cfbaa8a3150b37e20e6db6fce86#diff-7f171c37897b2bd5b3bcafe051b07af8bf09746350a61f30a9acf3aef18c0431

[2022-02-16 20:50] modosc commented on #182
we have this in our `package.json`:
[code]

[2022-02-16 22:00] matthewrobertson commented on #182
Sorry to hear you are having trouble with this. This sounds like a bug in which we are not resolving a valid fully qualified version of yarn from the specifier you provided in your `package.json`. I think you should be able to unblock your deployments by providing a full semver of an existing yarn version. For example:

[code]

[2022-02-16 22:07] modosc commented on #182
thanks @matthewrobertson , we're trying that now.

i think this code would also break for something like `"yarn": "^0.14.0"` which is a [valid example from yarn's docs](https://classic.yarnpkg.com/en/docs/package-json#toc-engines)

[2022-02-16 22:57] matthewrobertson commented on #182
@modosc I *think* `"yarn": "^0.14.0"` will actually work fine. We should be treating `engines.yarn` as a fuzzy version specifier and using it to resolve a matching available version published to npm.

My current theory is that the problem is [this early return](https://github.com/GoogleCloudPlatform/buildpacks/blob/0be19970636e19fbe0a9146a5b30f75aa3fa0a91/pkg/nodejs/registry.go#L53-L55). The inten

[2022-02-17 07:20] Manny2014 commented on #181
So the image I inspected was built via skaffold which make use of devmode. I just inspected one which was not and it is clean. Question, in the case of Cloud Deploy which leverages skaffold, is devmode used?

[2022-02-17 14:56] spew commented on #181
Hi @Manny2014 thanks for the reply. That is not a question I have the answer to, can you point me to a quickstart or hello world tutorial that you followed so I can make sure I am testing the same thing you are looking at ?

[2022-02-18 18:11] Manny2014 commented on #181
@spew no worries, i think your explanation regarding DEVMODE covers what i needed. The Cloud Deploy bit was more of a curiosity but it seems that you trigger the image build via cloud build, so you are not bound to the skaffold.yaml.

Thanks again for the help!

[2022-02-18 18:23] spew commented on #181
Thanks, closing, feel free to open another issue for anything new you find.

[2022-02-18 18:23] #181 closed

[2022-02-21 15:58] DanilaKazakevich opened #183 "Python runtime: 3.10 version"
Hello!
How can we use python 3.10? Will it be available soon?
It seems that it doesn't support now (only 3.9.8 max available):
[code]
Thank you!

[2022-02-23 06:49] matthewrobertson commented on #107
Yarn2 should be fully supported now. Please give it a try and report any issues you encounter.

[2022-02-23 06:49] #107 closed

[2022-02-24 03:19] #182 closed

[2022-02-24 22:58] thejimmyyuan opened #185 "App Engine build times out, cant find cache in build?"
Hi, I'm doing a deploy onto app engine, the only code change is the removal of some text in a <p> tag.

My old deploys look like this

<img width="1112" alt="old" src="https://user-images.githubusercontent.com/4728496/155622288-3c3a0527-99b4-41e6-b0e9-3f3fc1801fa4.png">

The new build tho, looks like this and then times out: (to trouble shoot I did some updating on the nodejs and yarn version)
<im

[2022-02-27 17:01] thejimmyyuan commented on #185
randomly decided to work one day 🤷

[2022-02-27 17:01] #185 closed

[2022-03-03 18:23] jama22 opened #187 "Update README.md to list specific versions of runtimes"
The [General Build and Buildpacks](https://github.com/GoogleCloudPlatform/buildpacks#general-builder-and-buildpacks) section of the README lists out the language families that the project supports, but its not clear what specific language versions the project supports. We should update the table to list out the specific language majors and minors supported by the project as listed in the [Builders

[2022-03-05 20:54] TimFHayes commented on #175
Hey Matthew,

I am having similar trouble deploying GCF written in Python. The log message is:

"Step #1 - "build": Unable to delete previous cache image: DELETE https://eu.gcr.io/v2/quinjo-image-handler/gcf/europe-west2/046fef8a-943d-4ca7-9c7e-ac5f2b3008a3/cache/manifests/sha256:f55b68d62ae8465c55517828f2b7fd8ebc0f943e4ff0c676024b828ca49bcaa0: GOOGLE_MANIFEST_DANGLING_TAG: Manifest is still refer

[2022-03-08 17:37] matthewrobertson commented on #175
@TimFHayes can you please open a new issue for this if you are continuing to encounter issues. It sounds like your GCR repo is in a bad state so you might try to manually delete `https://eu.gcr.io/v2/quinjo-image-handler/gcf/europe-west2/046fef8a-943d-4ca7-9c7e-ac5f2b3008a3/cache/manifests:latest` but hard to say without additional information

[2022-03-08 17:49] TimFHayes commented on #175
Big thanks for replying Matthew.

The issue has been resolved but it is totally unconnected with the issue you posted on.

I have been deploying a Python function from a Windows PC. I utilised a requirements.txt file alongside main.py.

In migrating from another PC, requirements.txt was picked up from a different folder and lacked an entry for an additional import, namely dateparser.

The gcloud e

[2022-03-09 21:08] Dkendal opened #188 "Download URI for Yarn does not fetch proper resource for Yarn +2"
Attempting to upload a function that has a `engines.yarn` entry in it's manifest with a value greater than 1 fails to download.

https://github.com/GoogleCloudPlatform/buildpacks/blob/2b3fa7060ed553797cb9f0a22c7fe6c35f22e222/cmd/nodejs/yarn/main.go#L31-L36

You can see the same URL in the cloud build output below, (this example is where no `engine.yarn` entry is listed, so it succeeds).

[code]

T

[2022-03-12 20:30] cranberrysoft opened #189 "env GOOGLE_BUILDABLE - add support for Java/Maven"
It seems like the `GOOGLE_BUILDABLE` env has currently support only for .NET, Go and Dart e.g.
https://github.com/GoogleCloudPlatform/buildpacks/blob/c1ec0412dadbc45f51467cb6135bcded72b8be02/pkg/dotnet/dotnet.go#L290

This functionality would be very useful also for multi-module Maven projects. Currently it seems like it's hardcoded here https://github.com/GoogleCloudPlatform/buildpacks/blob/c1ec0

[2022-03-13 00:55] cranberrysoft commented on #166
I would love to see support for maven modules out of the box like in Paketo buildpacks via BP_MAVEN_BUILT_MODULE https://github.com/paketo-buildpacks/maven
As maven modules are very popular among Maven projects and also very useful.

I've also created another issue that could potentially solve the problem https://github.com/GoogleCloudPlatform/buildpacks/issues/189 via a generic param GOOGLE_BUILD

[2022-03-13 01:12] cranberrysoft commented on #189
PR to update README. I spent quite a bit of time to find out GOOGLE_BUILDABLE does not work for Java
 https://github.com/GoogleCloudPlatform/buildpacks/pull/190

[2022-03-13 04:29] cranberrysoft opened #192 "GOOGLE_BUILD_ARGS does not allow for multiple arguments for maven projects"
Running
`pack build test-build --builder gcr.io/buildpacks/builder:v1 --env GOOGLE_BUILD_ARGS="--projects some-module"`
 for a maven project creates a build error `Unable to parse command line options: Unrecognized option`

It is possible to give an argument as `--projects=some-module`
`pack build test-build --builder gcr.io/buildpacks/builder:v1 --env GOOGLE_BUILD_ARGS="--projects=some-module"`

[2022-03-23 19:31] sidvishnoi opened #193 "Add support for pnpm in nodejs buildpack"
`gcloud functions deploy` doesn't make use of `pnpm-lock.yaml` and only supports yarn and npm.
For this reason, we need to maintain both `package-lock.json` (prod) and `pnpm-lock.yaml` (dev; due to better monorepo support) in our project. Please consider adding support for pnpm to the nodejs buildpack.

[2022-04-05 17:02] matthewrobertson commented on #188
We should fix this (although, IMO Yarn made a mess of this when they released 2.0). For now the workaround is to declare `"yarn": "1.x.x"` in your `engines` section and then bundle yarn 2 with your source code and point to it in your `.yarnrc.yml` via the [`yarnPath`](https://github.com/GoogleCloudPlatform/buildpacks/blob/main/builders/gae/nodejs16/builder.toml#L40-L43) option.

[2022-04-06 15:56] agulowaty opened #196 "Latest version of buildpack doesn't work in skaffold v1.17.2"
It appears that some change pushed to `gcr.io/buildpacks/builder` after `6a2272a3600b93a6db0124ca98b725609099e30f` build breaks compatibility with older versions of skaffold.

Skaffold version: v1.17.2

Given skaffold directive:

[code]

[code]

Please have a look into this issue.

As a workaround, it worked for version 1.37.1 of skaffold. We had to downgrade the builder image to older tag.

[2022-04-06 19:20] #152 closed

[2022-04-06 19:50] matthewrobertson commented on #196
The fix has landed. I will close this once we publish a new builder that contains the fix.

[2022-04-06 20:23] matthewrobertson commented on #196
fix should be available

[2022-04-06 20:23] #196 closed

[2022-04-07 22:10] #192 closed

[2022-04-08 06:48] aberres commented on #183
Same question here.

Is there any timeline someone could share?

[2022-04-11 06:23] aberres commented on #183
We asked Google Support. But the answer is not really an answer.

Python 3.9 needed 6 month from release to availability. As 3.10 was released in December...

[2022-04-11 22:49] #183 closed

[2022-04-11 23:01] matthewrobertson commented on #183
https://github.com/GoogleCloudPlatform/buildpacks/commit/9cfe3e2166311f6ded7a7718193d010e417a3e28 should unblock  all versions of Python up to 3.10.2. Please give it a try and let me know if you have any issues.

[2022-04-12 07:08] aberres commented on #183
Did not do an extensive test, but a basic Flask app is packacked and served as expected with Python 3.10.2.

Great, thanks!

[2022-04-12 17:59] matthewrobertson commented on #176
How are you deploying your app? Build env vars is still a preview feature so you need to use `gcloud beta app delploy`. Sorry for the confusion.

[2022-04-12 19:38] #188 closed

[2022-04-19 23:16] dweekly opened #198 "BuildPack NodeJS 18.0.0 Fails /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.28' not found"
Example of failed build:
https://console.cloud.google.com/cloud-build/builds/b211a24b-b936-4127-8e02-3f606069f241

note that package.json includes
  "engines": {
    "node": ">= 12.0.0"
  },

Logs:

Step #0 - "Buildpack": ===> BUILDING
Step #0 - "Buildpack": === Node.js - Runtime (google.nodejs.runtime@0.9.2) ===
Step #0 - "Buildpack": Resolving Node.js version based on semver ">= 12.0.0"
Step #0

[2022-04-20 13:37] fmr683 commented on #198
I'm getting the issue.

[2022-04-20 15:58] schnucks-bgnelson commented on #198
I am having this issue as well.

[2022-04-20 17:14] AjayRaineni commented on #198
i am having the same issue

[2022-04-20 23:30] DouglasSalazar commented on #198
i am having the same issue

[2022-04-21 14:02] Jonathan-Hofmann commented on #198
Having the same issue... Is there any 'way around'?

[2022-04-21 18:06] abes1809 commented on #198
My team was able to solve this by specifying the node version in our package.json file like so

[code]
it seems Heroku made an update that attempts to install node version 18 on all apps so it is breaking some that run on older versions.

[2022-04-21 21:26] DouglasSalazar commented on #198
The error is occurring because node 18.0.0 requires the installation of lib GLIBC_2.28, if the server has nvm installed it will always download the latest versions. In my case I was using amazon linux that was in version 2.26, I made the change to ubuntu 20.4 and it solved.

[2022-04-21 21:32] chech0x commented on #198
I'm getting the issue in Google Cloud Run that uses this build pack.
In  our case , we **had to fix the engine to a lower version**

[code]

[2022-04-22 03:56] robvanderleek commented on #198
FWIW, bumped into the same issue, pinning to Node 16.x in `package.json` worked for me:

[code]

Heroku deployment output:

[code]

[2022-04-22 06:18] manojlds opened #199 "Python runtimes are not found on dl.google.com?"
On v0.24.1, and I am getting this error:

[code]

The URL is giving 404 and I am not sure what should be fixed here.

[2022-04-23 03:40] dcarnese opened #200 "Failed to create buildpack for Node.js v18.0.0"
Step #0 - "Buildpack": ===> BUILDING
Step #0 - "Buildpack": === Node.js - Runtime (google.nodejs.runtime@0.9.2) ===
Step #0 - "Buildpack": Resolving Node.js version based on semver ">= 14.0.0"
Step #0 - "Buildpack": --------------------------------------------------------------------------------
Step #0 - "Buildpack": Running "curl --fail --show-error --silent --location --get --data-urlencode ran

[2022-04-26 10:56] adamblok commented on #200
I you want to use node v14, use this in your package.json file

[code]

Then deploy it again.

[2022-04-26 19:10] grant commented on #200
Node 18 isn't active LTS and isn't supported by buildpacks.

The list of versions supported by buildpacks is here:

https://github.com/GoogleCloudPlatform/buildpacks/tree/main/builders/gcf

[2022-04-26 19:10] #200 closed

[2022-04-26 19:20] grant commented on #199
Can you provide more details for your configuration? You need to provide the UA.

[code]

Closing due to not enough detail and workaround.

[2022-04-26 19:21] grant commented on #189
Fixed with https://github.com/GoogleCloudPlatform/buildpacks/pull/191.

[2022-04-26 19:23] matthewrobertson commented on #199
I think the problem is the only version of python3.7 in the versions manifest is 3.7.12:

[code]

[2022-04-26 19:25] grant commented on #199
Sounds good.

[2022-04-26 19:28] matthewrobertson commented on #198
Our base images are based on Ubunut 18. Nodejs18 dropped support for Ubunutu 18 because it doesn't include a new enough version of gcc. We are investigating a few solutions, for now you can pin to nodejs16 in your package.json file, as others have suggested:

[code]

[2022-04-26 19:40] sl0wik commented on #176
I deploy the app using regular `gcloud app deploy`. Without the option to set composer variables, most of the apps require extra CI to build a composer lock file.

[2022-04-26 20:15] onpaws commented on #165
Today I tried to run my Next.js app using buildpack and also ran into this exact issue.
If I could avoid running `npm build` I'd try, but as far as I can tell Next requires this step.

[code]

I'm curious why Node.js "custom build steps" are [not supported](https://github.com/GoogleCloudPlatform/buildpacks#known-limitations) in the first place. Do you know?

[2022-04-26 21:50] makhatemakhate commented on #198
@matthewrobertson
all of my `package.json` files are in `/usr/lib/node_modules/npm/node_modules/`
When can i find the right file to edit.
***after editing the file what do i do?***

[2022-04-26 22:21] matthewrobertson commented on #198
@makhatemakhate you should have one in the root directory of your application source code.

[2022-04-28 07:08] pcperera commented on #199
I receive a similar error.

`
===> BUILDING
[builder] === Python - Runtime (google.python.runtime@0.9.1) ===
[builder] Using Python version from GOOGLE_RUNTIME_VERSION: 3.8.10
[builder] Installing Python v3.8.10.
[builder] 2022/04/28 06:54:01 [DEBUG] GET https://dl.google.com/runtimes/python/python-3.8.10.tar.gz
[builder] WARNING: Failed to download Python version 3.8.10. You can specify the veris

[2022-04-28 07:23] matthewrobertson commented on #199
@pcperera that sounds like an error extracting the tar file. I will investigate, for now you might try to use a different version of Python (eg 3.8.13). You can pass it in the `GOOGLE_RUNTIME_VERSION` env var or in a `.python-version` file in the root of your project.

[2022-04-28 07:25] matthewrobertson commented on #199
@manojlds you should be able to work around by updating your `.python-version` file to use `3.7.12`. We are working on backfilling the other versions but it will take some time.

[2022-04-28 07:38] pcperera commented on #199
@matthewrobertson
I do seem to get the same error for 3.8.13 too.

`
===> BUILDING
[builder] === Python - Runtime (google.python.runtime@0.9.1) ===
[builder] Using Python version from GOOGLE_RUNTIME_VERSION: 3.8.13
[builder] Installing Python v3.8.13.
[builder] 2022/04/28 07:37:40 [DEBUG] GET https://dl.google.com/runtimes/python/python-3.8.13.tar.gz
[builder] WARNING: Failed to download Python ve

[2022-04-28 07:55] matthewrobertson commented on #199
@pcperera how are you running the buildpacks? Is this happening on your local machine or in CloudBuild?

[2022-04-28 07:59] pcperera commented on #199
@matthewrobertson, locally on minikube with skaffold.

[2022-04-28 08:03] 0xhf commented on #199
I also had this problem. Updating pack to the latest version fixed it for me.

[2022-04-28 08:19] matthewrobertson commented on #199
@pcperera I think I understand what is happening here. We aren't clearing the cache layer properly when upgrading to a new Python version in a previously built app. There is a simple fix for this on our end, but it will take some time to get it released in the buildpacks. To work around, you should be able to skip the cache restoration when you build. I am not too familiar with skaffold, but you n

[2022-04-28 09:58] pcperera commented on #199
Unfortunately CNB_SKIP_RESTORE didn't quite work. GOOGLE_BUILD_ARGS too not for Python ?

[2022-04-28 19:52] matthewrobertson commented on #199
@pcperera the fix was landed in https://github.com/GoogleCloudPlatform/buildpacks/commit/5a57252b958d6daef6449e9906bd6a56d05390b6 and should be available in the latest builder. Please let me know if you are still having issues.

[2022-04-29 18:06] matthewrobertson commented on #199
We have backfilled all versions of python3.7 and released a new builder with a fix for the symlink bug. This issue should be fully resolved now.

[2022-04-29 18:06] #199 closed

[2022-05-09 21:04] koistya opened #201 "Compatibility with Yarn v4.0.0"
The output Docker images doesn't seem to contain Yarn dependencies when Yarn v4.0.0 (4.0.0-rc.5) is used making the up to fail at runtime (missing dependency).

[2022-05-10 15:20] kobenauf commented on #198
I gather three things from the comments above:

1) Google (I assume?) needs to add GLIBC_2.28 to the environment so Node 18 runs.
2) Until Google does that, run an older version of Node.
3) Possibly build an image outside of Google and use it.

Are these right?

[2022-05-12 07:40] #198 closed

[2022-05-14 18:14] koistya commented on #132
I wish there was a way to use a more recent version of Node.js runtime via `engines.node` (or, some other way around).

Setting `engines.node` to `16.15.0` currently doesn't make any difference, still using installing `16.13.2`.

Really need to an access to the `fetch` API introduced in [`v16.15.0`](https://nodejs.org/en/blog/release/v16.15.0/).

[2022-05-17 07:22] matthewrobertson commented on #70
I don't think this is bug. Your env var isn't getting set when you `docker run` because you are bypassing the buildpack launcher: https://buildpacks.io/docs/app-developer-guide/run-an-app/#no-launcher

I suspect if you did this it would work:

[code]

[2022-05-17 07:22] #70 closed

[2022-05-17 07:25] matthewrobertson commented on #83
This is fixed now. We use the go.mod file as a cache key, so if you change it we will bust the cache.

[2022-05-17 07:25] #83 closed

[2022-05-17 07:27] matthewrobertson commented on #77
ruby is supported now.

[2022-05-17 07:27] #77 closed

[2022-05-17 07:27] matthewrobertson commented on #146
We no longer rely on semver.io. This is fixed.

[2022-05-17 07:27] #146 closed

[2022-05-22 07:28] lappazos opened #202 "Comute engine create with container + SSD"
in the SSD guide https://cloud.google.com/compute/docs/disks/add-local-ssd#gcloud I need to perform some operations in the host to format the SSD. how can I do it if I immediately lunch a container?

[2022-05-28 15:34] peterfortuin commented on #112
I have tried this as well, but got a different result. For me it does tries to run/build a x86 image, but it's really slow. So I never got an image that I can run.

[2022-05-30 11:58] richardmcsong opened #203 "Yarn caching?"
Sorry if I'm missing something -- I only recently started looking into buildpacks to see if they would fit our usecase.

I can't figure out how yarn would cache dependencies with buildpacks. I'm using the most recent stable version of yarn (v3.2.1), and I've left all of the defaults (local .yarn/cache). With Dockerfiles, I can inline cache on a global cache folder.

For every dependency I have, I

[2022-05-30 12:12] richardmcsong commented on #203
Upon further inspection, it looks like that yarn 1 has caching logic, but yarn 2 implies usage of pnp, which isn't necessarily true.

[2022-06-08 18:45] sl0wik opened #204 "Cloud SQL proxy in App Engine PHP"
Because database migration is a step required to deploy majority of modern PHP apps, App Engine should have `/cloudsql` folder with socket connections to binded to Cloud SQL server the same way App Engine does. Without access to Cloud SQL it is impossible to deploy app without a CI script.

[2022-06-09 04:09] yutaroyoshikawa opened #205 "Add support for Artifact Registry in yarn"
I have a web project that uses yarn v1 for package management hosted on Google App Engine.
Newly, I am trying to use private npm packages managed by Artifact Registry in my project.
I believe that buildpacks recognizes the .npmrc when building App Engine and automatically generates an access token if the package manager is npm, but yarn does not support automatic generation of this access token, s

[2022-06-16 09:34] Je0pardy opened #207 "Could not build Dotnet Project"
I am trying to build our custom developed project with buildpack. (First of all I am not .Net expert or developer)
Project has a tree structure as follows:

├── BulkGateway.sln
├── src
│   ├── Bulk.Gateway
|     |      ├── Bulk.Gateway.csproj
│   ├── Bulk.Gateway.Aggregator
|     |      ├── Bulk.Gateway.Aggregator.csproj
│   └── Bulk.Gateway.Model
|     |      ├── Bulk.Gateway.Model.csproj
├── nug

[2022-06-16 15:25] spew commented on #207
Hi @Je0pardy we do not yet support sln files (with multiple csprojs). Thanks for letting us know that this is a functionality that you would want to use. We have added it to our backlog.

[2022-06-17 18:45] BahaaZidan commented on #11
I fixed it by including a `gcp-build` script in my `package.json` file.

[code]

[2022-06-19 11:23] badis opened #209 "Unable to find Node with version : 12.11.0"
[code]

[2022-06-24 21:14] sl0wik opened #211 "PHP 8.1 Builder is failing - No buildpack groups passed detection."
PHP8.1 builder is failing with error:
[code]

Command:
[code]

PHP 7.3 would run with:
[code]

[2022-06-25 13:56] sl0wik commented on #176
It looks like at some point limit was lifted from 512 mb to 1.5G so I cant catch memory errors anymore. I saw this error happening while running build from.

If someone got this issues the solution might be adding to composer.json `scripts` section:
[code]

[2022-06-27 21:35] #176 closed

[2022-06-27 21:59] sl0wik commented on #211
In fact detection is failing starting with php73_20220426_7_3_32_RC00 release.

Builder `us.gcr.io/gae-runtimes/buildpacks/php73/builder:php73_20220320_7_3_32_RC00`:
[code]

Builder `us.gcr.io/gae-runtimes/buildpacks/php73/builder:php73_20220426_7_3_32_RC00`:
[code]

[2022-06-27 22:06] #211 closed

[2022-06-28 13:33] sl0wik opened #213 "Composer wont accept array as gcp-build script"
It's more common to use arrays as composer scripts than strings (ref.: https://getcomposer.org/doc/articles/scripts.md).

Currently, buildpack will fail if the parameter is array https://github.com/GoogleCloudPlatform/buildpacks/blob/ef536fcd4a631fc75230c6a252bf230d2b272df0/pkg/php/php.go#L85 .

Example:
[code]

Execution ( https://github.com/GoogleCloudPlatform/buildpacks/blob/main/cmd/php/compos

[2022-06-28 14:58] sl0wik commented on #213
I'm trying to make a PR for this but while running `go test` I get:

[code]

Am I missing something?

[2022-06-29 07:24] ThomasP1988 opened #214 "Golang workspace"
Hi everyone,

Trying to get my head around building a module in sub-folder of a workspace and I can't figure out if I'm doing something wrong or if this feature doesn't exist yet. I've seen that there is the env variable GOWORK, which should be automatically set but even when i manually set it I still have the problem.  Here is my skaffold config:

`build:
  artifacts:
  - image: apis/grpc
    con

[2022-06-30 20:27] ShubhaPradeep opened #215 "Unable to find node version 12.11.0"
I got the below error during training when I was practicing the lab

WARNING: Failed to download Node.js version 12.11.0. You can specify the verison by setting the GOOGLE_RUNTIME_VERSION environment variable
[builder] Failure: (ID: 58e6a0ae) fetching https://dl.google.com/runtimes/nodejs/nodejs-12.11.0.tar.gz returned HTTP status: 404

[2022-07-01 15:10] spew commented on #204
Feature request: Add a CloudSQLProxy buildpack to the AppEngine order groups which will install and run the [SQL Proxy](https://cloud.google.com/sql/docs/mysql/sql-proxy) at build time, but not launch time. The buildpack would opt in when an appropriate env var is set in the app.yaml.

The proxy would be started with a command such as follows:

[code]

Note there are some complications around wher

[2022-07-03 10:28] ThomasP1988 commented on #214
for those who will visit the issue have the same problem, I found a solution on skaffold with ko

[code]

this is not using this builder solution though

[2022-07-08 11:46] jskeet opened #216 "dotnet build pack sometimes uses the wrong runtimeconfig.json"
This was reported via [this .NET Functions Framework issue](https://github.com/GoogleCloudPlatform/functions-framework-dotnet/issues/251).

When a .NET build contains multiple projects, using `GOOGLE_BUILDABLE` to specify the "main" one, there's the possibility of multiple runtimeconfig.json files being generated, one for each project. (For example, a dependency project which targets `netcoreapp3.

[2022-07-09 09:21] mxgit1090 commented on #215
According to the [test file](https://github.com/GoogleCloudPlatform/buildpacks/blob/d503dd7b83553b2f6a1576e213a21b506a5e5ec8/builders/gcp/base/acceptance/nodejs_test.go#L50)

Add environment variable `GOOGLE_RUNTIME_VERSION` to `14.17.0` as below, and it works

[code]

[2022-07-09 09:21] mxgit1090 commented on #209
According to the [test file](https://github.com/GoogleCloudPlatform/buildpacks/blob/d503dd7b83553b2f6a1576e213a21b506a5e5ec8/builders/gcp/base/acceptance/nodejs_test.go#L50)

Add environment variable `GOOGLE_RUNTIME_VERSION` to `14.17.0` as below, and it works

[code]

[2022-07-11 16:02] sdesaiLULA commented on #171
Any idea if or when this would be supported? Work arounds are appreciated too.

[2022-07-11 17:22] spew commented on #215
Can you help by posting the training / what app you are trying to deploy? I am trying to understand where the version 12.11.0 is coming from.

[2022-07-11 17:22] spew commented on #215
Issue here is we need to backfill our versions of nodejs.

[2022-07-11 18:31] ShubhaPradeep commented on #215
I don't have access to the lab anymore. It was the cloud run lab assignment.

[2022-07-11 19:52] jskeet commented on #216
Wonderful - thanks so much for addressing this. Please let me know if I can help in testing etc.

[2022-07-11 23:38] biligeny opened #217 "node.js version should be updated in package.json"
[builder] Installing Node.js v12.11.0.
[builder] 2022/07/11 23:25:31 [DEBUG] GET https://dl.google.com/runtimes/nodejs/nodejs-12.11.0.tar.gz
[builder] WARNING: Failed to download Node.js version 12.11.0. You can specify the verison by setting the GOOGLE_RUNTIME_VERSION environment variable
[builder] Failure: (ID: 58e6a0ae) fetching https://dl.google.com/runtimes/nodejs/nodejs-12.11.0.tar.gz return

[2022-07-12 01:16] jinglundong commented on #216
I'm adding more debug info to the buildpack. It turned out that we only look at the specified project. I don't know if there's a sticky behavior somewhere, but my all 4 builds picked the correct project. I passed in `--env GOOGLE_BUILDABLE=ServiceSight.FunctionTest` all the time.

[code]

I read the [error](https://github.com/GoogleCloudPlatform/functions-framework-dotnet/issues/251#issue-12911870

[2022-07-12 01:23] jinglundong commented on #216
Found some explanation on a blog post [1].
[code]
[1] - https://andrewlock.net/exploring-the-microsoft-aspnetcore-app-shared-framework-in-asp-net-core-2-1-preview-1/

[2022-07-12 05:47] AshleyMedway commented on #216
The different SDKs was removed in 3.1.

If it helps this issue was introduced on 2022/06/30 the example project would have built fine before then.

[2022-07-12 05:47] jskeet commented on #216
It's not a matter of finding a different key within the same file - it's about using the right file to start with. We need to be looking at runtimeconfig.json for the project we want to run, instead of for the dependency.

(We also need to select the right entry, but I think we're probably doing that at least reasonably correctly at the moment.)

[2022-07-12 19:57] jinglundong commented on #216
I had a repro now.

[code]

[2022-07-12 21:09] AshleyMedway commented on #216
We are trying to apply the changes required for the workaround, targeting netstandard2.1 but it’s easier said than done, some dependencies are having to be broken apart.

We are trying but the workaround might take us longer to implement than the fix :/

[2022-07-13 14:54] sl0wik opened #218 "PHP buildpacks not suitable for local dev"
It looks like buildpacks are the only way to replicate App Engine environment locally. The limitation is - they are developed with production in mind.

Key problems are:
- `composer install` running with `--no-dev`
- php.ini got `opcache.enable=true` and would not react to code changes

Are there any recommendations? Would it make sense to update this repo to accept some dev-related flags?

[2022-07-14 00:54] sl0wik commented on #218
I'm working on some solutions:
- `php.ini``opcache.enable=true` could be resolved per project with php.dev.ini + `.gcloudignore` that should ignore it during gcloud deployment.
- composer could support env `COMPOSER_ARGS` or `COMPOSER_FLAGS` that would override https://github.com/GoogleCloudPlatform/buildpacks/blob/df6e1b0001d25405a4ce1a774da54ecb65c1ea8f/pkg/php/php.go#L178

[2022-07-14 12:24] AshleyMedway commented on #216
Yeah we are going to have to give up on the workaround, we just keep coming across more and more issues. It's probably a something we need to address in our codebase long term but short term its not going to be an option for us.

Is there some way we can select a buildpack version with a flag or something?

[2022-07-14 14:18] sl0wik commented on #218
In case someone will need it, the solution for disabling opcache on local:
- Create `php.local.ini`
- Add to `php.local.ini` line `opcache.enable=false`
- Add to `.gcloudignore` line `php.local.ini`

This way `php.local.ini` will apply on local build, but on production it will be skipped because of `.gcloudignore`.

[2022-07-14 18:11] jinglundong commented on #216
I'm still working on the fix.

Not sure if you tried the other workaround of changing the alphabetical order of ServiceSight.FunctionTest and ServiceSight.Dependancy. We believe ServiceSight.Dependancy's framework version was picked because its alphabetical order is before ServiceSight.FunctionTest.

There might be another workaround by 'prebuilt' the app before calling gcloud. Please let me know

[2022-07-14 18:37] AshleyMedway commented on #216
The trouble is you have to rename the folder not just the project, this would mean 10 folder renames and updating all the references etc. it’s a bit of a mess.

Would love to deploy prebuilt code: https://github.com/GoogleCloudPlatform/buildpacks/issues/113

[2022-07-14 19:24] jinglundong commented on #216
Sorry about my previous suggestion about using presbuilt app. It's supported in OSS/Cloud Run use case, but not in GCF.

https://github.com/GoogleCloudPlatform/buildpacks/blob/main/cmd/dotnet/buildpack.toml#L96

[2022-07-19 03:06] jinglundong commented on #216
Sorry, the fix took longer than I expected. New ETA is July 27th.

[2022-07-20 00:34] sl0wik commented on #218
https://github.com/GoogleCloudPlatform/buildpacks/pull/219

[2022-07-20 05:26] jhoak commented on #171
I think there's a bit more nuance to the issue. There are two different concepts, customizing which NuGet feeds to use, and private NuGet feeds -- for example, you may point your NuGet config to get packages from a different source other than nuget.org; or you might point it at some internal private URL(s) which may require their own authentication.

WRT the first issue -- I was able to use a nuge

[2022-07-20 10:21] philipwigg opened #220 "Detecting my app as PHP instead of Node"
### Summary

Build packs seem to be detecting my application as a PHP app when it's a NodeJS application.

I'm deploying a NodeJS Cloud Run application from source. To deploy it, I use:-

[code]

It's been working fine for months. I've only made minor changes to the code.

However, build packs seem to be detecting my node application as a PHP app and not Node anymore and my app fails with FastCGI

[2022-07-20 10:52] philipwigg commented on #220
So it seems like I had installed `eslint` installed, which had a dependency called `flatten`, which contains a .PHP file. When I removed this, it went back to being detected as Node again.

[2022-07-20 11:15] philipwigg commented on #220
I'm reopening to ask, is this the desired behaviour? Should a single .php file in the repo override the fact I have 99.9% .js files and a package.json?

[2022-07-20 14:15] spew commented on #220
This is not desired behavior and represents how our detection logic needs to become more robust.

[2022-07-20 14:21] philipwigg commented on #220
Since I've had `eslint` installed for ages and I only just saw this issue, I wonder if https://github.com/GoogleCloudPlatform/buildpacks/commit/d34b0c51706cbb40761bf77bdec82d6c83f23d01 caused my particular issue?

[2022-07-20 14:23] philipwigg commented on #220
I'm adding the "primary script unknown" error I received in Cloud Run, just in case anyone else has the same problem and Google can send them here.

```2022-07-20 00:29:47.120 BST2022/07/19 23:29:47 [error] 33#33: *7 FastCGI sent in stderr: "Primary script unknown" while reading response header from upstream, client: 169.254.1.1, server: , request: "GET / HTTP/1.1", upstream: "fastcgi://unix:/laye

[2022-07-20 16:17] sl0wik commented on #218
I will make another PR that will check `DEV_MODE` flag instead. I would recommend adding an option to customize composer flags in the future anyway, mainly because of the possibility to run unit tests inside buildpacks. Most of projects running PHPUnit on deployment, and it would work on current version if composer is installed without `--no-dev`.

[2022-07-20 16:25] spew commented on #218
HI @sl0wik no reason to change your PR, I was just musing about DEV_MODE and this was more for the google team.

[2022-07-20 16:34] sl0wik commented on #218
Ok. I saw considered `DEV_MODE` variable before but it appeared that option to customize `COMPOSER_ARGS` would be way more flexible.

[2022-07-25 09:02] AshleyMedway commented on #216
@jinglundong Are we still on track for the 27th July?

[2022-07-26 03:10] jinglundong commented on #216
The worst case is 29th July. We already started the release of the candidate contains the fix. I'm trying to figure out if there's a reliable way to hit the new candidate before it's 100% in prod.

The new image is: `gcr.io/gae-runtimes/buildpacks/dotnet/builder@sha256:e7c2b46b438fc9170d718158d96188f58b8336018d905e4bcd78cba5ab06d495`. Disclaimer: please don't depend on this image directly or its f

[2022-07-28 22:27] paul-feng-github commented on #215
@ShubhaPradeep Do you have any special reason to use nodejs 12.11.0 but not other versions? This is an old version and there is some issues with the release of 12.11.0 tarball https://github.com/nodejs/node/issues/29709. I suggest use a newer version.

[2022-07-28 22:27] paul-feng-github commented on #217
@biligeny  Do you have any special reason to use nodejs 12.11.0 but not other versions? This is an old version and there is some issues with the release of 12.11.0 tarball https://github.com/nodejs/node/issues/29709. I suggest use a newer version.

[2022-07-29 07:04] taeold opened #222 "Dart buildpack fails to compile Dart functions-framework source"
Today, I tried following the [instructions](https://github.com/GoogleCloudPlatform/functions-framework-dart/blob/main/docs/quickstarts/03-quickstart-cloudrun.md) for deploying a Dart + Functions Framework to Google Cloud Run.

I'm stuck with  the following error message in the Cloud Build job:

[code]

I tried to reproduce the issue locally and found that if I delete the following line setting `PU

[2022-07-29 08:25] AshleyMedway commented on #216
@jinglundong we are still seeing the issue this morning. Is there a timeline for when the new candidate to be 100% available?

[2022-07-29 11:52] #215 closed

[2022-07-29 11:53] ShubhaPradeep commented on #215
I don't have access to lab, I got the error when I attended cloud run training and I was practicing my lab the next day.

[2022-07-29 17:35] jinglundong commented on #216
My worst case estimate wasn't taking release pipeline block into the consideration. So, sorry about that.

Since 10:00 UTC or 03:00 PDT July 28th, our release pipelines have been blocked by a network issue. Roughly 40% of the regions haven't picked up this fix. We released the fix to europe-west3 fully, and europe-west1 partially before the release pipeline was blocked. Unfortunately, some Europea

[2022-07-29 17:45] ace-n commented on #220
As a hotfix - would it be bad to ignore "dependency directories" in the runtime detection logic?

e.g. ignoring `composer` or `node_modules` seems like a reasonably-safe compromise to me provided we document it.

[2022-07-29 19:04] matthewrobertson commented on #220
This is an issue we encountered in the past. Unfortunately, we have to impose some prioritized language detection order. We pushed nodejs to the bottom because it is very common to get false positives for node (eg it is very common for python websites to include some js files).

That is definitely a bug and we should push a fix ASAP.

[2022-07-29 19:11] matthewrobertson commented on #220
I just looked at the code and it seems like setting the build env var `GOOGLE_RUNTIME=nodejs` should fix this. @ace-n how did you try set it? On cloud run the only way to set build env vars is to create a `project.toml` file in the root. In this case the content should be like:

[code]

@philipwigg could you try and create a `project.toml` as I described above as a workaround?

[2022-07-29 19:16] matthewrobertson commented on #220
Also, @philipwigg if I am reading the description of your issue correctly, it sounds like the `.php` file is in your `node_modules` directory. I would recommend you ignore that dir entirely when deploying to cloud run. The buildpacks will delete it and re-install the modules anyway, so including it will only slow your build down.

Docs explaining how to to ignore files using a `.gcloudignore` are